<div>
  <div class="modal__header">
    <div class="modal__header__logo">Book Lunch</div>
  </div>
  <div class="modal__close">
    <a><i class="material-icons" (click)="onClose()">close</i></a>
  </div>
  <div class="newsletter-container">
    <!--Start add food form-->
    <div>
      <span class="panel-title">BOOK LUNCH :: You can only select the food type as 'Food for Fasting' if the items are available in the menu list else NOT. Once you will add it can not be removed.!</span>
      <form [formGroup]="addFoodForm" (submit)="onSubmit(addFoodForm)">
        <div class="row">
          <div class="row col-md-10 MT-20">
            <div class="col-md-3 MT-10">
              <mat-label class="fw-500">Menu Date</mat-label>
            </div>
            <div class="col-md-9 MB-5">
              <mat-form-field>
                <input matInput [matDatepicker]="date"  [min]="startDateValue" [max]="endDateValue" formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                <mat-datepicker #date></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="col-md-3 MT-10">
              <mat-label class="fw-500">User Name</mat-label>
            </div>
            <div class="col-md-9 MB-5">
              <ng-select [items]="userList"
                         [closeOnSelect]="true"
                         bindLabel="userfullname"
                         placeholder="User Name"
                         bindValue="id"
                         [virtualScroll]="true"
                         [searchable]="true"
                         [hideSelected]="true"
                         formControlName="user_id">
              </ng-select>
              <div class="validation-msg">
                <app-validation *ngIf="isRequiredField(addFoodForm.get('user_id'))"
                                [errMsg]="validationMsg.USERNAME_REQUIRED"></app-validation>
              </div>
            </div>

            <div class="col-md-3 MT-10">
              <mat-label class="fw-500">Location</mat-label>
            </div>
            <div class="col-md-9 MB-5">
              <mat-form-field>
                <mat-select placeholder="Location" [multiple]="false" formControlName="location_id"
                            (selectionChange)="getMenuList($event.value)">
                  <mat-option *ngFor="let location of locationList" [value]="location?.id">
                    {{ location?.location_name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-3 MT-10" *ngIf="foodMasterList && foodMasterList?.id > 0">
              <mat-label class="fw-500">Menu</mat-label>
            </div>
            <div class="col-md-9  MB-5" *ngIf="foodMasterList && foodMasterList?.id > 0">
              <span class="panel-title">Menu list</span>
              <span class="primary-color" *ngFor="let item of foodMasterList?.menu_name?.toString().split(',')">
            {{item}}
          </span>
            </div>

            <div class="col-md-3 MT-10">
              <mat-label class="fw-500">Lunch Type</mat-label>
            </div>
            <div class="col-md-9 MB-5">
              <mat-form-field>
                <mat-select placeholder="Please Select" [multiple]="false" formControlName="food_type">
                  <mat-option *ngFor="let foodType of foodTypeList" [value]="foodType?.key">
                    {{ foodType?.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-12 text-right PR-0 MTB-20">
              <button type="submit" class="btn-success MR-5" [disabled]="addFoodForm.invalid">Save</button>
              <!--<button type="button" class="btn-default MR-5" (click)="">cancel</button>-->
            </div>
          </div>
          <div class="col-md-6  MT-20">

          </div>

        </div>
      </form>
    </div>
    <!--End add food form-->
  </div>
</div>
