// ---------------------------------------------------------------------------------------------
// ========================  Admin befree writeoff scss file  ==============================
// ---------------------------------------------------------------------------------------------
.befree-writeoff-container {
}

.befree-comment {
  .update-reason-details {
    font-size: 1.3rem;
    label {
      color: darken($black-color, 20%);
      font-weight: 500;
    }
    span {
      color: darken($gray-color, 18%);
    }
  }
}
