<!--  Invoice log Dialog  -->
<div class="large-modal">
  <div class="modal__header">
    <div class="modal__header__logo">Shift Name</div>
  </div>

  <div class="modal__close">
    <a><i class="material-icons" (click)="onCloseDialog()">close</i></a>
  </div>

  <div class="modal__body">
    <!-- Start Request Table -->
    <mat-chip-list>
      <mat-chip *ngFor="let shiftname of shiftList">
        {{shiftname}}
      </mat-chip>
    </mat-chip-list>
    <!-- End Request Table -->
  </div>
</div>
