// -----------------------------------------------------------------------------------------------
// ================================ Admin Biiling Module Unchareged Units scss =========================
// -----------------------------------------------------------------------------------------------
.unchanged-units-container {
  tbody {
    tr {
      a {
        cursor: pointer;
        color: $primary-color;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
