<!--  Start Favorite menu dialog  -->
<div>
  <div class="modal__header">
    <div class="modal__header__logo">ADD TIMESHEET</div>
  </div>

  <div class="modal__close">
    <a>
      <mat-icon class="material-icons" (click)="onClose()">close</mat-icon>
    </a>
  </div>

  <form [formGroup]="addTimesheetForm" #addEditTimesheetDataForm="ngForm"
        (submit)="onSubmitTimesheet(addTimesheetForm)">
    <div class="modal__body">
      <div class="row MT-15">
        <div class="col-md-1 PR-0">
          <mat-form-field>
            <input formControlName="date" matInput [matDatepicker]="date" placeholder="Date" [disableControl]="true">
            <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
            <mat-datepicker #date></mat-datepicker>
          </mat-form-field>
          <div class="validation-msg"></div>
        </div>
        <div class="col-md-3">
          <ng-select class="custom" [items]="parentClientList"
                     [closeOnSelect]="true"
                     bindLabel="trading_name"
                     placeholder="Parent Trading Name"
                     bindValue="id"
                     [virtualScroll]="true"
                     [searchable]="true"
                     [hideSelected]="true"
                     [disableControl]="true"
                     (change)="onChangeParentEntity($event)"
                     formControlName="parent_id">
          </ng-select>
        </div>
        <div class="col-md-4">
          <ng-select [items]="clientList"
                     [closeOnSelect]="true"
                     bindLabel="trading_name"
                     placeholder="Trading Name"
                     bindValue="id"
                     [virtualScroll]="true"
                     [searchable]="true"
                     [disableControl]="true"
                     [hideSelected]="true"
                     (change)="getMasterActivityList()"
                     formControlName="entity_id">
          </ng-select>
          <div class="validation-msg"></div>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <mat-select formControlName="master_activity_id" placeholder="Master activity"
                        (selectionChange)="getTaskFilterList($event.value)" [disableControl]="true">
              <mat-option *ngFor="let masterActivity of masterActivityList;" [value]="+masterActivity.id">
                {{masterActivity.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" *ngIf="isChangeTask === 0">
          <mat-form-field>
            <mat-select formControlName="task_id" placeholder="Task" [disableControl]="true"
                        (selectionChange)="getSubactivityFilterList($event.value);getFrequencyList()">
              <mat-option *ngFor="let task of taskList;" [value]="+task.id">
                {{task.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="validation-msg"></div>
        </div>
        <div class="col-md-4" *ngIf="isChangeTask === 1">
          <mat-form-field>
            <mat-select formControlName="task_id" placeholder="Task" [disableControl]="false"
                        (selectionChange)="getSubactivityFilterList($event.value,1);getFrequencyList()">
              <mat-option *ngFor="let task of taskList;" [value]="task.task_id">
                {{task.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="validation-msg"></div>
        </div>
        <span class="v-align-middle cursor-pointer primary-color PT-10"
              *ngIf="(worksheetData?.service_id === 2 || worksheetData?.service_id === 1) && (worksheetData?.task_id.id  === 1 || worksheetData?.task_id.id === 2 || worksheetData?.task_id.id === 57 || worksheetData?.task_id.id === 51 || worksheetData?.task_id.id === 54) && isChangeTask === 0"
              (click)="changeTaskType(true)"><mat-icon [matTooltip]="'Change'"
                                                       class="v-align-middle">compare_arrows</mat-icon></span>
        <span class="v-align-middle cursor-pointer orange-color PT-10"
              *ngIf="(worksheetData?.service_id === 2 || worksheetData?.service_id === 1) && (worksheetData?.task_id.id  === 1 || worksheetData?.task_id.id === 2 || worksheetData?.task_id.id === 57 || worksheetData?.task_id.id === 51 || worksheetData?.task_id.id === 54) && isChangeTask === 1"
              (click)="changeTaskType(false)"><mat-icon [matTooltip]="'Cancel'" class="v-align-middle">cancel</mat-icon></span>
        <div class="col-md-4" *ngIf="isChangeTask === 0">
          <mat-form-field>
            <mat-select formControlName="frequency" placeholder="Frequency" [disableControl]="true"
                        (selectionChange)="getPeriodList()">
              <mat-option *ngFor="let frequency of frequencyList;" [value]="frequency.id">
                {{frequency.frequency_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="validation-msg"></div>
        </div>
        <div class="col-md-4" *ngIf="isChangeTask === 0">
          <mat-form-field>
            <mat-select formControlName="period_id" placeholder="Period" [disableControl]="true">
              <mat-option *ngFor="let period of periodList;" [value]="period['worksheet_id']">
                {{period['start_date'] | date : 'dd-MM-yyyy'}} To {{period['end_date'] | date : 'dd-MM-yyyy'}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="validation-msg"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7 custom-ng-select-dropdown">
          <ng-select [items]="subActivityList"
                     [closeOnSelect]="true"
                     bindLabel="subactivity_full_name"
                     placeholder="Sub Activity"
                     bindValue="subactivity_code"
                     [virtualScroll]="true"
                     [hideSelected]="true"
                     (change)="UpdateFormControl(); UpdateFormControlEmployee(); hideShowFields($event);"
                     formControlName="subactivity_code">
          </ng-select>
          <div class="validation-msg">
            <app-validation *ngIf="isRequiredField(addTimesheetForm.get('subactivity_code'))"
                            [errMsg]="validationMsg.ADD_TIMESHEET_SUB_ACTIVITY_REQUIRED"></app-validation>
          </div>
        </div>
        <div class="col-md-3">
          <div class="row">
            <div class="col-md-6 PL-0">
              <mat-form-field>
                <input matInput placeholder="Start Time" formControlName="start_time" aria-label="Start Time"
                       (change)="updateUnits()" readonly
                       [ngxTimepicker]="starttime" [format]="24" min="04:30">
                <ngx-material-timepicker (closed)="updateUnits()" #starttime></ngx-material-timepicker>
              </mat-form-field>
              <div class="validation-msg"></div>
            </div>
            <div class="col-md-6 PR-0">
              <mat-form-field>
                <input matInput placeholder="End Time" formControlName="end_time" aria-label="End Time"
                       (change)="updateUnits()" readonly [ngxTimepicker]="endtime"
                       [min]="addTimesheetForm.get('start_time').value" max="23:30" [format]="24">
                <ngx-material-timepicker (closed)="updateUnits()" #endtime></ngx-material-timepicker>
              </mat-form-field>
              <div class="validation-msg"></div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <mat-form-field>
            <input formControlName="units" type="number" matInput placeholder="Units" required/>
          </mat-form-field>
          <div class="validation-msg">
            <app-validation *ngIf="isRequiredField(addTimesheetForm.get('units'))"
                            [errMsg]="validationMsg.UNIT_REQUIRED"></app-validation>
            <app-validation *ngIf="isValidField(addTimesheetForm.get('units'))"
                            [errMsg]="validationMsg.UNIT_VALID"></app-validation>
          </div>
        </div>
      </div>
      <div class="row">
        <!--<div class="col-md-4" *ngIf="worksheetData.entity_grouptype_id === 14">-->
          <!--<ng-select [items]="subClientList"-->
                     <!--[closeOnSelect]="true"-->
                     <!--bindLabel="subclient"-->
                     <!--placeholder="Sub Client"-->
                     <!--bindValue="id"-->
                     <!--[virtualScroll]="true"-->
                     <!--[hideSelected]="true"-->
                     <!--formControlName="subclient_id">-->
          <!--</ng-select>-->
          <!--<div class="validation-msg">-->
            <!--<app-validation *ngIf="isRequiredField(addTimesheetForm.get('subclient_id'))"-->
                            <!--[errMsg]="validationMsg.SUBCLIENT_REQUIRED"></app-validation>-->
          <!--</div>-->
        <!--</div>-->
        <span class="col-md-4" *ngFor="let fieldArray of getExtraFieldArray().controls; let i=index">
      <div *ngIf="fieldArray.value['type'] === 'TB'">
        <mat-form-field
          *ngIf="(addTimesheetForm.get('subactivity_code').value === 462 || addTimesheetForm.get('subactivity_code').value === 460) && fieldArray.value['label'] === 'No. of Employee'">
          <input matInput [placeholder]="fieldArray.value['label']"
                 (change)="onUpdateValues(i,$event.target.value); addEmployeeFields($event.target.value)"/>
        </mat-form-field>
        <mat-form-field
          *ngIf="addTimesheetForm.get('subactivity_code').value !== 462 && addTimesheetForm.get('subactivity_code').value !== 460 && fieldArray.value['label'] == 'No. of Employee'">
          <input matInput [placeholder]="fieldArray.value['label']"
                 (change)="onUpdateValues(i,$event.target.value)"/>
        </mat-form-field>
        <mat-form-field
          *ngIf="addTimesheetForm.get('subactivity_code').value !== 462 && addTimesheetForm.get('subactivity_code').value !== 460 && fieldArray.value['label'] !== 'No. of Employee'">
          <input matInput [placeholder]="fieldArray.value['label']"
                 (change)="onUpdateValues(i,$event.target.value)"/>
        </mat-form-field>
         <app-validation *ngIf="isDynamicFieldsRequiredField(getExtraFieldArray().controls[i].get('value'))"
                         [errMsg]="fieldArray.value['msg_required']"></app-validation>
           <app-validation *ngIf="isValidField(getExtraFieldArray().controls[i].get('value'))"
                           [errMsg]="fieldArray.value['msg_invalid']"></app-validation>
      </div>
      <div *ngIf="fieldArray.value['type'] === 'DD'">
        <ng-select *ngIf="fieldArray.value['key'] === 'frequency_id'" class="custom" [items]="frequencyDDList"
                   [closeOnSelect]="true"
                   bindLabel="frequency_name"
                   placeholder="Frequency"
                   bindValue="id"
                   (change)="onUpdateValues(i,$event,1,'id')"
                   [virtualScroll]="true"
                   [searchable]="true"
                   [hideSelected]="true">
        </ng-select>
        <ng-select *ngIf="fieldArray.value['key'] === 'payroll_option_id'" class="custom" [items]="payrollOptionList"
                   [closeOnSelect]="true"
                   bindLabel="type_name"
                   placeholder="Type"
                   bindValue="id"
                   (change)="onUpdateValues(i,$event,1,'id')"
                   [virtualScroll]="true"
                   [searchable]="true"
                   [hideSelected]="true">
        </ng-select>
        <ng-select *ngIf="fieldArray.value['key'] === 'reviewer_id'" class="custom" [items]="reviewerUserList"
                   [closeOnSelect]="true"
                   bindLabel="userfullname"
                   placeholder="Reviewer User"
                   bindValue="id"
                   (change)="onUpdateValues(i,$event,1,'id')"
                   [virtualScroll]="true"
                   [searchable]="true"
                   [hideSelected]="true">
        </ng-select>
        <ng-select *ngIf="fieldArray.value['key'] === 'bank_info'" class="custom" [items]="bankInformation"
                   [closeOnSelect]="true"
                   bindLabel="bankdetail"
                   placeholder="Bank Information"
                   bindValue="bankname"
                   (change)="onUpdateValues(i,$event,1,'bankname')"
                   [virtualScroll]="true"
                   [searchable]="true"
                   [hideSelected]="true">
        </ng-select>
        <app-validation *ngIf="isDynamicFieldsRequiredField(getExtraFieldArray().controls[i].get('value'))"
                        [errMsg]="fieldArray.value['msg_required']"></app-validation>
      </div>
      <div *ngIf="fieldArray.value['type'] === 'startDate'">
        <mat-form-field>
          <input matInput [matDatepicker]="periodFrom"
                 (dateChange)="onUpdateDateValues(i,$event.value)"
                 placeholder="Start Date" value="{{fieldArray.value['value']}}">
          <mat-datepicker-toggle matSuffix [for]="periodFrom"></mat-datepicker-toggle>
          <mat-datepicker #periodFrom></mat-datepicker>
        </mat-form-field>
        <app-validation *ngIf="isDynamicFieldsRequiredField(getExtraFieldArray().controls[i].get('value'))"
                        [errMsg]="fieldArray.value['msg_required']"></app-validation>
      </div>
      <div *ngIf="fieldArray.value['type'] === 'endDate'">
        <mat-form-field>
          <input matInput [matDatepicker]="periodTo"
                 value="{{fieldArray.value['value']}}"
                 (dateChange)="onUpdateDateValues(i,$event.value)"
                 placeholder="End Date">
          <mat-datepicker-toggle matSuffix [for]="periodTo"></mat-datepicker-toggle>
          <mat-datepicker #periodTo></mat-datepicker>
        </mat-form-field>
        <app-validation *ngIf="isDynamicFieldsRequiredField(getExtraFieldArray().controls[i].get('value'))"
                        [errMsg]="fieldArray.value['msg_required']"></app-validation>
      </div>
      </span>
      </div>
      <div class="row">
        <span class="row col-md-12 PLR-0"
              *ngFor="let fieldemployeeArray of getNameOfEmployeeArray().controls; let j=index">
          <span class="col-md-6">        <mat-form-field>
          <input matInput placeholder="First Name"
                 (change)="onUpdateEmployeeValues(j,$event.target.value, 'first_name');"/>
        </mat-form-field>
              <app-validation
                *ngIf="isDynamicFieldsRequiredField(getNameOfEmployeeArray().controls[j].get('first_name'))"
                [errMsg]="validationMsg.FIRST_NAME"></app-validation>
              </span>

          <span class="col-md-6">
        <mat-form-field>
          <input matInput placeholder="Last Name"
                 (change)="onUpdateEmployeeValues(j,$event.target.value, 'last_name')"/>
        </mat-form-field>
            <app-validation *ngIf="isDynamicFieldsRequiredField(getNameOfEmployeeArray().controls[j].get('last_name'))"
                            [errMsg]="validationMsg.LAST_NAME"></app-validation>
       </span>
      </span>
      </div>
      <div class="row">
        <div class="col-md-12">
          <mat-form-field>
            <textarea formControlName="notes" matInput placeholder="Notes" rows="5"></textarea>
          </mat-form-field>
          <div class="validation-msg"></div>
        </div>
      </div>
    </div>

    <div class="modal__footer">
      <div class="text-right row">
        <div class="col-md-12 PR-25">
          <button [disabled]="addTimesheetForm.invalid" type="submit" class="btn-primary"
                  (click)="flagToSubmitUpdate(0)">Save
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<!--  End Favorite menu dialog  -->
