<!-- Start Data Grid -->
<div class="with-filter-grid-container">
  <!-- Start Grid Inner Header -->
  <div class="grid-inner-header">
    <div class="row">
      <div class="col-md-6 inner-header-title">
        <h3>Timesheet Entry</h3>
      </div>
      <div class="col-md-6">
        <ul class="download-icon">
          <li>
            <a (click)="onOpenFilter()">
              <span>Filter</span>
              <mat-icon class="material-icons">filter_list</mat-icon>
            </a>
          </li>

          <li *ngIf="tabData['export']">
            <a (click)="downloadExcel();">
              <span>Excel</span>
              <mat-icon class="material-icons">file_download</mat-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- End Grid Inner Header -->

  <!-- Start Grid Filter -->
  <div class="filter opacity-0" [ngClass]="{'opacity-1':isOpenFilterView}">
    <div class="filter-action-icon">
          <span class="filter-close" *ngIf="isOpenFilterView" (click)="onCloseFilter()">Esc <mat-icon
            class="material-icons">close</mat-icon></span>
    </div>
    <div class="grid-filter-container">
      <div class="filter-title">
        <h3>Advance Filter</h3>
      </div>
      <form [formGroup]="filterForm" (submit)="setAdvanceFilter(filterForm)">
        <div class="row">
          <div class="col-md-3 MT-10">
            <mat-form-field>
              <input matInput [matDatepicker]="fromdate" placeholder="From Date" formControlName="from_date">
              <mat-datepicker-toggle matSuffix [for]="fromdate"></mat-datepicker-toggle>
              <mat-datepicker #fromdate></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="col-md-3 MT-10">
            <mat-form-field>
              <input matInput [matDatepicker]="todate" placeholder="To Date" formControlName="to_date">
              <mat-datepicker-toggle matSuffix [for]="todate"></mat-datepicker-toggle>
              <mat-datepicker #todate></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="col-md-12 MT-20 text-right">
            <button type="button" class="btn-cancel">Clear</button>
            <button type="submit" class="btn-primary">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- End Grid Filter -->

  <!-- Start Filter Tags -->
  <div class="filter-tags">
    <form [formGroup]="advanceFilterForm">
      <div class="tag" *ngIf="fromDateField.value">
        <span class="tag__title">From Date:</span>
        <span>
              <mat-form-field>
                <input matInput [matDatepicker]="fromdate1" placeholder="Date" #dateRef formControlName="from_date"
                       (dateChange)="setAdvanceFilterKeyUp($event, advanceFilterForm, true)">
                <mat-datepicker-toggle matSuffix [for]="fromdate1"></mat-datepicker-toggle>
                <mat-datepicker #fromdate1></mat-datepicker>
              </mat-form-field>
            </span>
        <mat-icon class="material-icons tag__close">close</mat-icon>
      </div>

      <div class="tag" *ngIf="toDateField.value">
        <span class="tag__title">To Date:</span>
        <span>
              <mat-form-field>
                <input matInput [matDatepicker]="todate1" placeholder="Date" #dateRef formControlName="to_date"
                       (dateChange)="setAdvanceFilterKeyUp($event, advanceFilterForm, true)">
                <mat-datepicker-toggle matSuffix [for]="todate1"></mat-datepicker-toggle>
                <mat-datepicker #todate1></mat-datepicker>
              </mat-form-field>
            </span>
        <mat-icon class="material-icons tag__close">close</mat-icon>
      </div>

      <div class="clearAll-tags" *ngIf=" fromDateField.value || toDateField.value">
        <a (click)="resetFilterForm()">Clear all</a>
      </div>
    </form>
  </div>
  <!-- End Filter Tags -->

  <!-- Start Table -->
  <div class="table-container">
    <div class="table-block">
      <table>
        <thead>
        <tr>
          <th width="5%">Sr. No</th>

          <th width="10%"
              (click)="getSortData('userfullname', sortBy === 'userfullname' ? (sortOrder === 'asc' ? 'desc' : 'asc') : 'asc')">
            User Name
            <i *ngIf="sortBy === 'userfullname'"
               [ngClass]="{'material-icons': true, 'icon-up' : sortBy === 'userfullname' && sortOrder === 'asc', 'icon-down' :  sortBy === 'userfullname' && sortOrder === 'desc'}">
              {{sortBy === 'userfullname' ? (sortOrder === 'asc' ? 'arrow_upward':'arrow_downward') : ''}}
            </i>
          </th>

          <th width="8%"
              (click)="getSortData('trading_name', sortBy === 'trading_name' ? (sortOrder === 'asc' ? 'desc' : 'asc') : 'asc')">
            Trading Name
            <i *ngIf="sortBy === 'trading_name'"
               [ngClass]="{'material-icons': true, 'icon-up' : sortBy === 'trading_name' && sortOrder === 'asc', 'icon-down' :  sortBy === 'trading_name' && sortOrder === 'desc'}">
              {{sortBy === 'trading_name' ? (sortOrder === 'asc' ? 'arrow_upward':'arrow_downward') : ''}}
            </i>
          </th>

          <th width="8%"
              (click)="getSortData('master_name', sortBy === 'master_name' ? (sortOrder === 'asc' ? 'desc' : 'asc') : 'asc')">
            Master Activity
            <i *ngIf="sortBy === 'master_name'"
               [ngClass]="{'material-icons': true, 'icon-up' : sortBy === 'master_name' && sortOrder === 'asc', 'icon-down' :  sortBy === 'master_name' && sortOrder === 'desc'}">
              {{sortBy === 'master_name' ? (sortOrder === 'asc' ? 'arrow_upward':'arrow_downward') : ''}}
            </i>
          </th>

          <th width="12%"
              (click)="getSortData('task_name', sortBy === 'task_name' ? (sortOrder === 'asc' ? 'desc' : 'asc') : 'asc')">
            Task
            <i *ngIf="sortBy === 'task_name'"
               [ngClass]="{'material-icons': true, 'icon-up' : sortBy === 'task_name' && sortOrder === 'asc', 'icon-down' :  sortBy === 'task_name' && sortOrder === 'desc'}">
              {{sortBy === 'task_name' ? (sortOrder === 'asc' ? 'arrow_upward':'arrow_downward') : ''}}
            </i>
          </th>

          <th width="15%"
              (click)="getSortData('subactivity_full_name', sortBy === 'subactivity_full_name' ? (sortOrder === 'asc' ? 'desc' : 'asc') : 'asc')">
            Subactivity
            <i *ngIf="sortBy === 'subactivity_full_name'"
               [ngClass]="{'material-icons': true, 'icon-up' : sortBy === 'subactivity_full_name' && sortOrder === 'asc', 'icon-down' :  sortBy === 'subactivity_full_name' && sortOrder === 'desc'}">
              {{sortBy === 'subactivity_full_name' ? (sortOrder === 'asc' ? 'arrow_upward':'arrow_downward') : ''}}
            </i>
          </th>

          <th width="14%">Period</th>

          <th width="9%"
              (click)="getSortData('date', sortBy === 'date' ? (sortOrder === 'asc' ? 'desc' : 'asc') : 'asc')">
            Timesheet Date
            <i *ngIf="sortBy === 'date'"
               [ngClass]="{'material-icons': true, 'icon-up' : sortBy === 'date' && sortOrder === 'asc', 'icon-down' :  sortBy === 'date' && sortOrder === 'desc'}">
              {{sortBy === 'date' ? (sortOrder === 'asc' ? 'arrow_upward':'arrow_downward') : ''}}
            </i>
          </th>
          <th width="5%">Units</th>
          <th width="14%">Note</th>
        </tr>
        </thead>
      </table>
      <div class="table-body">
        <table>
          <tbody>
          <tr *ngFor="let timesheetntrydata of timesheetEntry; let i = index">
            <td width="5%">{{+pageSize * (pageIndex) + i + 1}}</td>
            <td width="10%">{{timesheetntrydata?.assignee?.userfullname}}</td>
            <td width="8%" class="text-overflow">{{timesheetntrydata?.trading_name}}</td>
            <td width="8%">{{timesheetntrydata?.master_name}}</td>
            <td width="12%">{{timesheetntrydata?.task_name}}</td>
            <td width="15%">{{timesheetntrydata?.subactivity_full_name}}</td>
            <td width="14%">{{timesheetntrydata?.start_date | date : 'dd-MM-yyyy'}} to {{timesheetntrydata?.end_date |
              date : 'dd-MM-yyyy'}}
            </td>
            <td width="9%">{{timesheetntrydata?.date | date : 'dd-MM-yyyy'}}</td>
            <td width="5%" class="text-center"><span
              class="label-turquoise-bg-color">{{timesheetntrydata?.units}}</span></td>
            <td width="14%" class="text-overflow">{{timesheetntrydata?.notes}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <table>
        <tfoot>
        <tr>
          <td colspan="3" class="totalAmount">
            <label>Total Unit:</label> <span>{{totalUnit}}</span>
          </td>
          <td colspan="10">
            <mat-paginator [length]="totalRecords" [pageSize]="pageSize" [pageIndex]="pageIndex"
                           [pageSizeOptions]="pageArray" (page)="onPageChange($event)">
            </mat-paginator>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <!-- End Table -->
</div>
<!-- End Data Grid -->
