// ---------------------------------------------------------------------------------------------
// ===================== common Variables for color / fonts and Dimension  =====================
// ---------------------------------------------------------------------------------------------

//
// Font family variables
//
$font-family: 'Roboto', sans-serif;

//
// Color Variables
//
$white-color: #fff;
$dark-black-color: #000;
$black-color: #212121;
$dark-primary-color: #0288D1;
$primary-color: #03A9F4;
$primary-light-color: #B3E5FC;
$red-color: #FF5252;
$light-gray-color: #BDBDBD;
$gray-color: #757575;
$green-color: #5dc35e;
$white-tranparent-color:rgba(255, 252, 252, 0.79);
$orange-color: #ff5722;

//
// Margin, Padding and dimension Variables
//
$spinner-dimensions: 5rem;
$zero: 0rem !important;
$five: .5rem !important;
$ten: 1rem !important;
$fifteen: 1.5rem !important;
$twenty: 2rem !important;
$twenty-five: 2.5rem !important;
$thirty: 3rem !important;
$thirty-five: 3.5rem !important;
$fourty: 4rem !important;
$fourty-five: 4.5rem !important;
$fifty: 5rem !important;
