@import "../../../../../assets/scss/main";

.view-ticket-container {
  .label-span-color {
    label {
      display: inline-block;
      text-align: left;
      padding-right: 1rem;
      box-sizing: border-box;
      width: 25%;
      margin-bottom: 2rem;
      vertical-align: top;
      font-weight: 500;
    }
    span {
      display: inline-block;
      width: 75%;
      margin-bottom: 2rem;
      color: $black-color;
    }
    .position-subject {
      position: absolute;
    }
  }
}
