<div class="manage-discontinue-question-container">
  <!-- Start BreadCrumb Top Header -->
  <div class="breadcrumb-top-header">
    <div class="row">
      <div class="col-md-12 PL-0">
        <div class="breadcrumb-top-header__breadcrumbs">
          <mat-icon><a (click)="onGoDashboard()" class="cursor-pointer">home</a></mat-icon>
          <i class="material-icons">keyboard_arrow_right</i>
          <span>ADMINISTRATION</span>

          <mat-icon class="material-icons">keyboard_arrow_right</mat-icon>
          <span class="active">MANAGE DISCONTINUE QUESTION</span>
        </div>
      </div>
    </div>
  </div>
  <!-- End BreadCrumb Top Header -->
  <!-- Start Data Grid -->
  <div class="with-filter-grid-container">
    <!-- Start Grid Inner Header -->
    <div class="grid-inner-header">
      <div class="row">
        <div class="col-md-6 inner-header-title">
          <button class="open-dialog-btn" (click)="onAddQuestionDialog()" *ngIf="tabData['add_edit']">
            <mat-icon class="material-icons">add</mat-icon>
            Add Question
          </button>
        </div>
        <div class="col-md-6">
          <ul class="download-icon">
            <li>
              <a (click)="onOpenFilter()">
                <span>Filter</span>
                <mat-icon class="material-icons">filter_list</mat-icon>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Start Grid Filter -->
    <div class="filter opacity-0" [ngClass]="{'opacity-1':isOpenFilterView}">
      <div class="filter-action-icon">
        <span class="filter-close" *ngIf="isOpenFilterView" (click)="onCloseFilter()">Esc <i
          class="material-icons">close</i></span>
      </div>
      <div class="grid-filter-container">
        <div class="filter-title">
          <h3>Advance Filter</h3>
        </div>
        <form [formGroup]="filterForm" (submit)="setAdvanceFilter(filterForm)">
          <div class="row">
            <div class="col-md-3 MT-10">
              <mat-form-field>
                <mat-select placeholder="Who fillup?" formControlName="who_fillup">
                  <mat-option *ngFor="let option of whoFillUpList.slice(1)" [value]="option?.key">
                    {{option?.label}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-3 MT-10">
              <mat-form-field>
                <mat-select placeholder="Status" formControlName="is_active">
                  <mat-option *ngFor="let option of activeInactivedropdown.slice(1)" [value]="option?.key">
                    {{option?.label}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-3 MT-10">
              <ng-select class="custom" [items]="staffList"
                         [closeOnSelect]="true"
                         bindLabel="userfullname"
                         placeholder="Created by"
                         bindValue="id"
                         [virtualScroll]="true"
                         [searchable]="true"
                         [hideSelected]="true"
                         formControlName="created_by">
              </ng-select>
            </div>
            <div class="col-md-3 MT-10 text-right">
              <button type="button" class="btn-cancel" (click)="resetFilterForm()">Clear</button>
              <button type="submit" class="btn-primary">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>


    <!-- End Grid Filter -->

    <!-- Start Filter Tags -->
    <div class="filter-tags">
      <form [formGroup]="advanceFilterForm">

        <div class="tag" *ngIf="whoFillup.value">
          <span class="tag__title">Who Fillup?:</span>
          <span>
            <mat-form-field>
                 <mat-select placeholder="Who fillup?" formControlName="who_fillup"
                             (selectionChange)="setAdvanceFilterKeyUp($event, advanceFilterForm, true)">
                  <mat-option *ngFor="let option of whoFillUpList.slice(1)" [value]="option?.key">
                    {{option?.label}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </span>
          <mat-icon class="material-icons tag__close" (click)="onClearTag('who_fillup')">close</mat-icon>
        </div>

        <div class="tag" *ngIf="status.value >=0 && status.value !== null">
          <span class="tag__title">Status:</span>
          <span>
            <mat-form-field>
                 <mat-select placeholder="Status" formControlName="is_active"
                             (selectionChange)="setAdvanceFilterKeyUp($event, advanceFilterForm, true)">
                  <mat-option *ngFor="let option of activeInactivedropdown.slice(1)" [value]="option?.key">
                    {{option?.label}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </span>
          <mat-icon class="material-icons tag__close" (click)="onClearTag('is_active')">close</mat-icon>
        </div>

        <div class="tag" *ngIf="createdByField.value">
          <span class="tag__title">Created By:</span>
          <span>
            <ng-select class="custom" [items]="staffList"
                       [closeOnSelect]="true"
                       bindLabel="userfullname"
                       placeholder="Created By"
                       bindValue="id"
                       [virtualScroll]="true"
                       [searchable]="true"
                       [hideSelected]="true"
                       formControlName="created_by"
                       (change)="setAdvanceFilterKeyUp($event, advanceFilterForm, true)">
              </ng-select>
          </span>
          <mat-icon class="material-icons tag__close" (click)="onClearTag('created_by')">close</mat-icon>
        </div>

        <div class="clearAll-tags"
             *ngIf="whoFillup.value || (status.value >=0 && status.value !== null) || createdByField.value">
          <a (click)="resetFilterForm()">Clear all</a>
        </div>
      </form>
    </div>

  </div>

  <!-- Start Table -->
  <div class="table-container">
    <div class="table-block scrollable-grid">
      <table>
        <thead>
        <tr>
          <th width="5%">Sr. No</th>

          <th width="30%">Parent question name
          </th>

          <th width="30%">Question name
          </th>

          <th width="10%">who fillup?
          </th>

          <th width="15%">Created By
          </th>

          <th width="10%">Action
          </th>
        </tr>
        </thead>
      </table>
      <div class="table-body">
        <table>
          <tbody *ngIf="manageQuestionList.length">
          <tr *ngFor="let managequestion of manageQuestionList; let i = index">
            <td width="5%">{{+pageSize * (pageIndex) + i + 1}}
            </td>
            <td width="30%">{{managequestion?.parent_id?.name | checkEmpty}}</td>
            <td width="30%">{{managequestion?.name}}</td>
            <td width="10%">{{getWhoFillUp(managequestion?.who_fillup)}}</td>
            <td width="15%">{{managequestion?.created_by?.userfullname}}</td>
            <td width="10%">
              <a class="light-orange-color" [matTooltip]="'Edit'" (click)="onAddQuestionDialog(managequestion)"
                 *ngIf="tabData['add_edit']">
                <mat-icon class="material-icons">edit</mat-icon>
              </a>
              <mat-slide-toggle *ngIf="slideActiveInactive[i] && tabData['add_edit']"
                                [(ngModel)]="slideActiveInactive[i]"
                                (change)="openToggleConfirmationDialog($event, managequestion, i)"></mat-slide-toggle>
              <mat-slide-toggle *ngIf="!slideActiveInactive[i] && tabData['add_edit']"
                                [(ngModel)]="slideActiveInactive[i]"
                                [checked]="(managequestion?.is_active) ? true : false"
                                (change)="openToggleConfirmationDialog($event, managequestion, i)"></mat-slide-toggle>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <table *ngIf="manageQuestionList.length">
        <tfoot>
        <tr>
          <td colspan="10">
            <mat-paginator [length]="totalRecords"
                           [pageSize]="pageSize"
                           [pageIndex]="pageIndex"
                           [pageSizeOptions]="pageArray"
                           (page)="onPageChange($event)">
            </mat-paginator>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <!-- End Table -->
  <div *ngIf="manageQuestionList.length === 0" class="panel-title red-color">
    No Records Found!
  </div>
</div>
