<div class="admin-invoice-dashboard-container">
  <!-- Start BreadCrumb Top Header -->
  <div class="breadcrumb-top-header">
    <div class="row">
      <div class="col-md-10 PL-0">
        <div class="breadcrumb-top-header__breadcrumbs">
          <mat-icon class="material-icons cursor-pointer"><a (click)="onGoDashboard()">home</a></mat-icon>

          <i class="material-icons">keyboard_arrow_right</i>
          <span>CLIENT</span>

          <i class="material-icons">keyboard_arrow_right</i>
          <span class="active">INFORMATION REQUIRED</span>
        </div>
      </div>
      <div class="col-md-2 PR-0">
        <button type="button" class="btn-orange on-right" (click)="generateInformation()">
          Generate Information
        </button>
      </div>
    </div>
  </div>
  <!-- End BreadCrumb Top Header -->

  <div class="invoice-tabs-container">
    <mat-tab-group class="demo-tab-group" [selectedIndex]="selectedIndexData"
                   (selectedIndexChange)="onSelectedIndexChange($event)">
      <mat-tab *ngFor="let tab of tabList" label="{{tab?.status_name}}"></mat-tab>
    </mat-tab-group>

    <div class="tab-content">
      <app-information-tab [informationSelectedStatus]="selectedInformationStatus"
                           [informationselectedTabID]="selectedTabID"></app-information-tab>
    </div>

  </div>
</div>
