// ---------------------------------------------------------------------------------------------
// ===================================  Class for Margin  ======================================
// ---------------------------------------------------------------------------------------------
.MTB-5 {
  margin-top: $five;
  margin-bottom: $five;
}

.ML-0 {
  margin-left: 0;
}

.ML-5 {
  margin-left: $five;
}

.ML-10 {
  margin-left: $ten;
}

.ML-15 {
  margin-left: $fifteen;
}

.ML-20 {
  margin-left: $twenty;
}

.ML-25 {
  margin-left: $twenty-five;
}

.ML-30 {
  margin-left: $thirty;
}

.ML-35 {
  margin-left: $thirty-five;
}

.ML-40 {
  margin-left: $fourty;
}

.ML-45 {
  margin-left: $fourty-five;
}

.ML-50 {
  margin-left: $fifty;
}

.MR-0 {
  margin-right: 0rem;
}

.MR-5 {
  margin-right: $five;
}

.MR-10 {
  margin-right: $ten;
}

.MR-15 {
  margin-right: $fifteen;
}

.MR-20 {
  margin-right: $twenty;
}

.MR-25 {
  margin-right: $twenty-five;
}

.MR-30 {
  margin-right: $thirty;
}

.MR-35 {
  margin-right: $thirty-five;
}

.MR-40 {
  margin-right: $fourty;
}

.MR-45 {
  margin-right: $fourty-five;
}

.MR-50 {
  margin-right: $fifty;
}

.MT-0 {
  margin-top: 0rem;
}

.MT-5 {
  margin-top: $five;
}

.MT-10 {
  margin-top: $ten;
}

.MT-15 {
  margin-top: $fifteen;
}

.MT-20 {
  margin-top: $twenty;
}

.MT-25 {
  margin-top: $twenty-five;
}

.MT-30 {
  margin-top: $thirty;
}

.MT-35 {
  margin-top: $thirty-five;
}

.MT-40 {
  margin-top: $fourty;
}

.MT-45 {
  margin-top: $fourty-five;
}

.MT-50 {
  margin-top: $fifty;
}

.MB-0 {
  margin-bottom: 0rem;
}

.MB-5 {
  margin-bottom: $five;
}

.MB-10 {
  margin-bottom: $ten;
}

.MB-15 {
  margin-bottom: $fifteen;
}

.MB-20 {
  margin-bottom: $twenty;
}

.MB-25 {
  margin-bottom: $twenty-five;
}

.MB-30 {
  margin-bottom: $thirty;
}

.MB-35 {
  margin-bottom: $thirty-five;
}

.MB-40 {
  margin-bottom: $fourty;
}

.MB-45 {
  margin-bottom: $fourty-five;
}

.MB-50 {
  margin-bottom: $fifty;
}

.M-0 {
  margin: 0;
}
