// ---------------------------------------------------------------------------------------------
// ===================================  Class for Padding ======================================
// ---------------------------------------------------------------------------------------------
.P0 {
  padding: 0;
}

.PLR-0 {
  padding-left: 0;
  padding-right: 0;
}

.PLR-10 {
  padding-left: $ten;
  padding-right: $ten;
}

.PTB-10 {
  padding-top: $ten;
  padding-bottom: $ten;
}

.PL-0 {
  padding-left: 0rem;
}

.PL-5 {
  padding-left: $five;
}

.PL-10 {
  padding-left: $ten;
}

.PL-15 {
  padding-left: $fifteen;
}

.PL-20 {
  padding-left: $twenty;
}

.PL-25 {
  padding-left: $twenty-five;
}

.PL-30 {
  padding-left: $thirty;
}

.PL-35 {
  padding-left: $thirty-five;
}

.PL-40 {
  padding-left: $fourty;
}

.PL-45 {
  padding-left: $fourty-five;
}

.PL-50 {
  padding-left: $fifty;
}

.PR-0 {
  padding-right: 0rem;
}

.PR-5 {
  padding-right: $five;
}

.PR-10 {
  padding-right: $ten;
}

.PR-15 {
  padding-right: $fifteen;
}

.PR-20 {
  padding-right: $twenty;
}

.PR-25 {
  padding-right: $twenty-five;
}

.PR-30 {
  padding-right: $thirty;
}

.PR-35 {
  padding-right: $thirty-five;
}

.PR-40 {
  padding-right: $fourty;
}

.PR-45 {
  padding-right: $fourty-five;
}

.PR-50 {
  padding-right: $fifty;
}

.PT-0 {
  padding-top: 0rem;
}

.PT-5 {
  padding-top: $five;
}

.PT-10 {
  padding-top: $ten;
}

.PT-15 {
  padding-top: $fifteen;
}

.PT-20 {
  padding-top: $twenty;
}

.PT-25 {
  padding-top: $twenty-five;
}

.PT-30 {
  padding-top: $thirty;
}

.PT-35 {
  padding-top: $thirty-five;
}

.PT-40 {
  padding-top: $fourty;
}

.PT-45 {
  padding-top: $fourty-five;
}

.PT-50 {
  padding-top: $fifty;
}

.PB-0 {
  padding-bottom: 0rem;
}

.PB-5 {
  padding-bottom: $five;
}

.PB-10 {
  padding-bottom: $ten;
}

.PB-15 {
  padding-bottom: $fifteen;
}

.PB-20 {
  padding-bottom: $twenty;
}

.PB-25 {
  padding-bottom: $twenty-five;
}

.PB-30 {
  padding-bottom: $thirty;
}

.PB-35 {
  padding-bottom: $thirty-five;
}

.PB-40 {
  padding-bottom: $fourty;
}

.PB-45 {
  padding-bottom: $fourty-five;
}

.PB-50 {
  padding-bottom: $fifty;
}
