<div class="client-view-quote-container">
  <div class="header">
    <div class="row">
      <div class="col-md-6">
        <img src="assets/images/logo.png" width="100"/>
      </div>

      <div class="col-md-6 text-right">
        <ul>
          <li>
            <a href="tel:1300873733">1300 U R FREE ( 1300 8 7 3733 )</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="body-container">
    <h2>Terms & Conditions</h2>
    <ul>
      <li>Between<p>'befree Pty Ltd' ("Befree" which expression shall where the context so permits, mean and include its
        subsidiary firm(s) or company(s) within and outside Australia as well as its agents, servants, employees
        (including future employees) successors in interest and assignees, including Associates present and future)</p>
      </li>
      <li>And<p>Client which expression shall where the context so permits, mean and include its successors in interest,
        subsidiary firm(s) or company(s) within and outside Australia and assignees</p></li>
      <li>Obligations of befree<p>Befree will keep the Client information and data records confidential and secure and
        will not disclose this information to a third party without the express written permission of the Client</p>
        <p>Befree will aim to complete the Client's work within a reasonable time frame as discussed and agreed directly
          with Client, subject to the work involved in each individual task and the receipt of relevant information
          sufficient to complete the work. The completion date will be discussed before the commencement of the work and
          will be determined once all relevant information is received by our office. befree will keep the Client
          informed and updated regarding the progress of the job in the form of emails or telephone if urgent. befree
          will, to the best of its capabilities, endeavour to inform your business in advance of any expected or
          unexpected delay in the completion of any work.</p>
        <p>Befree will provide the Client with a payment receipt/invoice fortnightly or monthly (depending on the volume
          of work) detailing the payment being directly debited from the Client's nominated bank or credit card.</p>
        <p>Befree will keep confidential all and every financial arrangement(s) between befree and the Client.</p>
      </li>
      <li>Obligations of Client
        <p>Client shall advise/inform befree of all and any specific instructions/requirements pertaining and relating
          to all and any work prior to its commencement, within a rational period of time. Client shall ensure all
          efforts are made to provide as clear information and assistance as required by befree in order to process work
          within the estimated completion time.</p>
      </li>
      <li>Direct Debit
        <p>Client will allow befree to directly debit their nominated bank account or credit card using our Ezidebit
          facility for the fees agreed between the parties. befree will inform your business within 24 hours if payment
          has been dishonoured by your bank. Client is obliged to reimburse befree for dishonor fees that are charged by
          the bank which at present are $35, plus Client will be charged an administration fee of $15 plus GST for late
          payment to be charged on your next invoice. In the case that befree does not receive payment, befree will
          cease all work from the 7th day of the following month.</p>
      </li>
      <li>
        Payment of Fees
        <p>Client should ensure payments are made in accordance with the fee schedule set out in the Agreement and in
          accordance with befree's personalised payment schedule as agreed. befree will inform your business within 24
          hours if payment has not been received. Client will be charged an administration fee of $15 plus GST for late
          payment of invoices. In the case that befree does not receive payment, befree will cease all work from the 7th
          day of the following month.</p>
        <p>Client shall keep confidential all and every financial arrangement(s) between Client and befree.</p>
      </li>
      <li>Review of Fees
        <p>The fees quoted in our Agreement are subject to review after 3 months from the date of signing. befree will
          consider actual time taken to complete monthly work and adjust fees accordingly from the following month after
          discussions with the Client. Fees are subject to change should we feel there is an imbalance between the work
          processed and the fees received at any future time. Any changes to fees will be discussed between befree and
          the Client. The changes will need to be approved by the Client and befree prior to the implementation of any
          changes to the fee structure. New fee schedules will be implemented with one month's notice to begin in the
          following invoice cycle. For example, if befree decides to change fees in January and notice is given in this
          month, the new payment will commence from February.</p>
      </li>
      <li>Law & Jurisdiction<p>These terms & conditions and associated Agreement and all matters arising from it
        including all dispute resolutions shall be governed by and construed in accordance within Australian Law..</p>
      </li>
      <li>Rework
        <p>If, as a result of third party or unauthorized changes to work considered befree's responsibility, befree
          needs to redo work already completed, befree will charge for the time taken to correct the accounts. befree
          will NOT take responsibility for errors that have occurred as a result of unauthorized changes made to the
          accounts.</p>
      </li>
      <li>Dispute Resolution
        <p>In case of any dispute arising as a consequence of or in relation to interpretation of any clause of these
          Terms & Conditions and associated Agreement shall be referred to and resolved by reverting to Arbitration,
          through a mutually appointed Arbitrator/Umpire whose decision and findings shall be binding on both the
          parties. This Arbitrator/Umpire shall be a judge of both law and facts.</p>
      </li>
      <li>Legal Costs
        <p>Should befree be required to use a professional debt collection agency to recover our fees from Client for
          amounts outstanding, we will on-charge the debt collectors fees to the Client, in addition to the outstanding
          amount</p>
      </li>
      <li>Professional Indemnity
        <p>Client is requested to review work done by befree. Client should not simply take the work done by befree as
          being final. Comments as to serious errors in the work should be forwarded to befree in order that it is both
          aware of this and can improve its quality. befree will indemnify Client for any gross negligence made by
          befree. befree shall have its own Professional Indemnity Policy</p>
      </li>
      <li>Work Quality & Process
        <p>befree will ask for missing information, queries and matters that are of concern whilst preparing the work
          instructed and Client will need to answer these. Failure to respond quickly by Client will result in delays.
          It is the responsibility of Client to ensure communication is clear and all information is provided and
          queries answered fully in a timely manner to ensure befree can produce the quality work it has been assigned
          to do.</p>
        <p>Client, in signing the final accounts, BAS's, and other documents, thereby takes full responsibility for
          their content. Therefore all work should be reviewed by Client to ensure the work has been completed to
          Client's full satisfaction. befree is committed to working with Client to ensure the work process is as
          efficient as possible. befree representatives will discuss the work process in detail with Client including
          Client's responsibilities in terms of answering queries and sending information as noted in previous
          sections.</p>
      </li>
      <li>Termination
        <p>befree may terminate this Agreement if Client has failed to respond to correspondence via email, telephone or
          fax for one month or more. At this point befree will advise Client in writing of the termination of this
          Agreement and return any source documents together with an invoice for work completed in the current
          month.</p>
        <p>Both befree and Client do mutually agree that both parties may terminate this Agreement with one month's
          written notice. Both parties will determine which work in progress will be finished by befree within the month
          to the termination date and it is the responsibility of befree to ensure the agreed work is completed by the
          termination date. Client cannot give befree any new jobs after a termination letter has been received. For any
          new jobs a new Agreement must be signed by both parties.</p>
        <p>Prior to termination date befree will expect all outstanding invoices to be paid in full by Client without
          exception. befree reserves the right to withhold all documents, files and other information belonging to the
          Client until all fees are paid in full. Upon payment of all outstanding fees, befree shall return all source
          documents within seven days of the termination date. Any private details such as passwords, bank account
          numbers etc, held by befree relating to Client will be destroyed within 24 hours of the termination date.</p>
      </li>
      <li>Notes
        <p>These terms & conditions and associated Agreement between the parties supersedes all prior proposals,
          discussions and writings by and between the parties relating to the subject matter of these terms & conditions
          and the associated Agreement. These may be mutually modified, amended or supplemented but, only by or through
          a written substitute duly executed by both the parties that is specifically to be referenced as an amendment
          to these terms & conditions and the associated Agreement.</p>
        <p>In case any one or more of these terms & conditions or the associated Agreement becomes void, or is
          found/declared to be in contravention to the provisions of any law, for the time being in force, the rest of
          the terms & conditions and the associated Agreement shall persist.</p>
      </li>
      <li>Authorization
        <p>Client authorizes befree to directly debit their nominated account as per the attached direct debit request
          form for the monthly fees agreed to between the parties. Please note payment with Credit Cards will attract a
          surcharge.</p>
      </li>
    </ul>
  </div>

  <div class="footer">
    <div class="row">
      <div class="col-md-6">
        <div class="MT-25">
          Copyright {{currentDate | date:'yyyy'}} | <a href="http://befree.com.au/" target="_blank">Befree</a> | <a
          href="https://www.befree.com.au/sitemap_index.xml" target="_blank">Sitemap</a>
        </div>
      </div>
      <div class="col-md-6 text-right">
        <img src="assets/images/xero-gold.png" width="100">
        <img src="assets/images/cpa-icon.jpg" width="100">
        <img src="assets/images/fast-icon.jpg" width="100">
        <img src="assets/images/accounting-awards.png" height="50">
      </div>
    </div>
  </div>
</div>
