.client-view-quote-container {
  position: relative;
  z-index: 999;
  top: -53px;
  background: #fff;

  .header {
    padding: 10px;
    box-shadow: 0 0 3px 0 #cccc;
    position: fixed;
    width: 100%;
    z-index: 999;
    background: #fff;
    a {
      text-decoration: none;
      position: relative;
      top: 18px;
      color: #000000;
    }
  }

  .body-container {
    padding-top: 103px;
    width: 600px;
    margin: 0 auto;
    min-height: calc(100vh - 130px);

    h2 {
      font-size: 20px;
      font-weight: 400;
      text-align: center;
      margin-bottom: 30px;
    }

    p {
      font-size: 14px;
      line-height: 1.5;
      text-align: justify;
    }
    ul li {
      list-style: decimal;
      font-weight: 500;
      margin-bottom: 20px;
    }
    ul li p {
      margin-top: 5px;
      font-weight: 200;
    }
  }

  .footer {
    padding: 10px;
    box-shadow: 0 -1px 3px 0 #cccc;
    width: 100%;
    background: #fff;
    position: relative;
    top: 50px;
    a {
      text-decoration: none;
      position: relative;
      color: #000000;
    }
    img {
      margin-left: 10px;
    }
  }
}
