// ---------------------------------------------------------------------------------------------
// ===================================  button sass file  ======================================
// ---------------------------------------------------------------------------------------------
button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

%btn {
  display: inline-block;
  padding: .7rem 2rem;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  outline: 0;
  @include border-radius(0.2rem);
}

.btn-primary {
  @extend %btn;
  @include bgClr($dark-primary-color, $white-color, $dark-primary-color);
  &:hover {
    @include bgClr(lighten($dark-primary-color, 10%), $white-color, lighten($dark-primary-color, 10%));
  }
}

.btn-orange {
  @extend %btn;
  @include bgClr($orange-color, $white-color, $orange-color);
  &:hover {
    @include bgClr(lighten($orange-color, 5%), $white-color, lighten($orange-color, 5%));
  }
}

.btn-dark-blue {
  @extend %btn;
  @include bgClr($dark-blue-color, $white-color, $dark-blue-color);
  &:hover {
    @include bgClr(lighten($dark-blue-color, 5%), $white-color, lighten($dark-blue-color, 5%));
  }
}

.btn-default {
  @extend %btn;
  @include bgClr(lighten($light-gray-color, 10%), $gray-color, lighten($light-gray-color, 10%));
  &:hover {
    @include bgClr(lighten($light-gray-color, 13%), $gray-color, lighten($light-gray-color, 13%));
  }
}

.btn-pure-white {
  @extend %btn;
  @include bgClr($white-color, $black-color, $dark-primary-color);
  &:hover {
    @include bgClr($white-color, $dark-primary-color, $dark-primary-color);
  }
}

.btn-white {
  @extend %btn;
  @include bgClr(transparent, $white-color, $white-color);
  &:hover {
    @include bgClr(lighten($white-color, 10%), $dark-primary-color, lighten($dark-primary-color, 10%));
  }
}

.btn-success {
  @extend %btn;
  @include bgClr($green-color, $white-color, $green-color);
  &:hover {
    @include bgClr(lighten($green-color, 10%), $white-color, lighten($green-color, 10%));
  }
}

.btn-cancel {
  @extend %btn;
  @include bgClr(transparent, $black-color, transparent);
}

.btn-login {
  font-size: 1.4rem;
  padding: 1rem 1.2rem;
  font-weight: 500;
  border-radius: 2px;
  letter-spacing: .1rem;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-primary[disabled] {
  background-color: lighten($dark-primary-color, 10%) !important;
  border-color: lighten($dark-primary-color, 10%) !important;
  cursor: not-allowed;
}

.btn-success[disabled] {
  background-color: lighten($green-color, 10%) !important;
  border-color: lighten($green-color, 10%) !important;
  cursor: not-allowed;
}

.btn-orange[disabled] {
  background-color: lighten($light-orange-color, 10%) !important;
  border-color: lighten($light-orange-color, 10%) !important;
  cursor: not-allowed;
}

.btn-default[disabled] {
  background-color: lighten($light-gray-color, 10%) !important;
  border-color: lighten($light-gray-color, 10%) !important;
  cursor: not-allowed;
}

.btn-orange.btn-bordered[disabled] {
  background-color: lighten($light-orange-color, 10%) !important;
  border-color: lighten($light-orange-color, 10%) !important;
  cursor: not-allowed;
  color: $white-color;
}

.btn-primary.btn-bordered {
  border-color: $dark-primary-color;
  background: transparent;
  color: $dark-primary-color;
}

.btn-orange.btn-bordered {
  border-color: $light-orange-color;
  background: transparent;
  color: $light-orange-color;
}

.btn-add {
  padding: .7rem 2rem .7rem 1.6rem;
  i, mat-icon {
    vertical-align: top;
    font-size: 1.8rem;
    text-align: left;
    font-weight: 600;
  }
}

.open-dialog-btn {
  color: $orange-color;
  font-weight: 500;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  outline: 0;
  i, .mat-icon {
    line-height: 2.8rem;
    position: relative;
    top: .70rem;
    font-size: 2.4rem;
  }
}

.right-buttons {
  text-align: right;
}

.with-button-container {
  background-color: lighten($light-gray-color, 20%);
}
