<!--StartAdd Meeting Room form Dialog-->
<div>
  <div class="modal__header">
    <div class="modal__header__logo">Change Password</div>
  </div>

  <div class="modal__close">
    <a>
      <mat-icon class="material-icons" (click)="onClose()">close</mat-icon>
    </a>
  </div>
  <form [formGroup]="changePasword" (submit)="onSubmitChangePassword(changePasword.value,changePasword.valid)">
    <div class="modal__body">
      <div class="row MT-10">
        <div class="col-md-12">
          <mat-form-field>
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="New Password"
                   formControlName="password"/>
            <mat-icon matSuffix>
              <i class="material-icons" (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</i>
            </mat-icon>
          </mat-form-field>
          <div class="validation-msg">
            <app-validation *ngIf="isRequiredField(changePasword.get('password'))"
                            [errMsg]="validationMsg.NEW_PASSWORD"></app-validation>
          </div>
        </div>
        <div class="col-md-12 MT-15">
          <mat-form-field>
            <input matInput [type]="hideConfirm ? 'password' : 'text'" placeholder="Confirm New Password"
                   formControlName="confirm_password"/>
            <mat-icon matSuffix>
              <i class="material-icons" (click)="hideConfirm = !hideConfirm">{{hideConfirm ? 'visibility' :
                'visibility_off'}}</i>
            </mat-icon>
          </mat-form-field>

          <div class="validation-msg">
            <app-validation *ngIf="isRequiredField(changePasword.get('confirm_password'))"
                            [errMsg]="validationMsg.CONFIRM_PASSWORD"></app-validation>
            <app-validation
              *ngIf="changePasword.controls.confirm_password.errors?.ConfirmPassword && changePasword.controls.confirm_password.dirty;"
              [errMsg]="validationMsg.CONFIRM_PASSWORD_DOES_NOT_MATCH"></app-validation>

            <!--<app-validation *ngIf="hasError(MatchPassword,resetPasswordForm,confirmPassword)"-->
            <!--[errMsg]="validationMsg.CONFIRM_PASSWORD_DOES_NOT_MATCH"></app-validation>-->
          </div>
        </div>
      </div>
    </div>
    <div class="modal__footer">
      <div class="text-right row">
        <div class="col-md-12 PR-25">
          <button type="button" class="btn-default MR-10" (click)="onClose()">Cancel</button>
          <button type="submit" class="btn-primary" [disabled]="!changePasword.valid">Save</button>
        </div>
      </div>
    </div>
  </form>
</div>
