<div class="holiday-list-out-container">
  <!-- Start BreadCrumb Top Header -->
  <div class="breadcrumb-top-header">
    <div class="row">
      <div class="col-md-12 PL-0">
        <div class="breadcrumb-top-header__breadcrumbs">
          <mat-icon class="material-icons cursor-pointer"><a (click)="onGoDashboard()">home</a></mat-icon>
          <mat-icon>keyboard_arrow_right</mat-icon>
          <span>HRMS</span>
          <mat-icon>keyboard_arrow_right</mat-icon>
          <span class="active">MY AWARD LISTING</span>
        </div>
      </div>
    </div>
  </div>
  <!-- Start Table -->
  <div class="table-container">
    <div class="table-block">
      <table>
        <thead>
        <tr>
          <th width="5%">Sr. No</th>
          <th width="45%">Name</th>
          <th width="40%">Award Type</th>
          <th width="10%">Action</th>
        </tr>
        </thead>
      </table>

      <div class="table-body">
        <table>
          <tbody *ngIf="nomineeList.length > 0">
          <tr *ngFor="let nominee of nomineeList; let i = index">
            <td width="5%">{{+pageSize * (pageIndex) + i + 1}}</td>
            <td width="45%">{{nominee?.userfullname}}
            </td>
            <td width="40%">{{nominee?.name}}</td>
            <td width="10%"><i class="material-icons" (click)="onDownloadAward(nominee)">file_download</i></td>
          </tr>
          </tbody>
          <tbody *ngIf="nomineeList.length ===0" class="panel-title">No Records Found</tbody>
        </table>
      </div>

      <table *ngIf="nomineeList.length > 0">
        <tfoot>
        <tr>
          <td colspan="10">
            <mat-paginator [length]="totalRecords"
                           [pageSize]="pageSize"
                           [pageIndex]="pageIndex"
                           [pageSizeOptions]="pageArray"
                           (page)="onPageChange($event)">
            </mat-paginator>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>  <!-- End Table -->
