<!-- Start add more particular type-->
<div class="modal large-modal bank-dialog">
  <div class="modal__header">
    <div class="modal__header__logo">Add More Particular Type</div>
  </div>

  <div class="modal__close">
    <a>
      <mat-icon class="material-icons" (click)="onClose(false)">close</mat-icon>
    </a>
  </div>

  <div class="modal__body">
    <form [formGroup]="addMoreParticularForm" (submit)="onSubmit(addMoreParticularForm)" #addMoreAccountForm="ngForm">
      <div class="row">
        <div class="col-md-6 PL-0">
          <mat-form-field>
            <input formControlName="account_name" matInput type="text" placeholder="Particular Type"
                   required/>
          </mat-form-field>
          <div class="validation-msg">
            <app-validation *ngIf="isRequiredField(addMoreParticularForm.get('account_name'))"
                            [errMsg]="validationMsg.ACCOUNT_TYPE_REQUIRED"></app-validation>
          </div>
        </div>
        <div class="col-md-4 MT-5">
          <button [disabled]="addMoreParticularForm.invalid" class="btn-primary" type="submit">Save</button>
        </div>
      </div>
    </form>
    <div class="table-container dialog-table-container">
      <div class="table-block">
        <div class="row">
          <!--<div class="col-md-4 PL-0">
            <div class="position-relative search-bank-information">
              <i class="material-icons">search</i>
              <input placeholder="Search" type="text" />
            </div>
          </div>-->
          <div class="col-md-12 PR-0">
            <mat-paginator [length]="totalRecords"
                           [pageSize]="pageSize"
                           [pageIndex]="pageIndex"
                           [pageSizeOptions]="pageArray"
                           (page)="onPageChange($event)">
            </mat-paginator>
          </div>
        </div>
        <table>
          <thead>
          <tr>
            <th width="10%">Sr. no.</th>
            <th width="35%">Particular Type</th>
            <th width="20%">Last Modified on</th>
            <th width="20%">Last Modified by</th>
            <th width="20%">Action</th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let particularType of particularTypeList; let i = index">
            <td>{{+pageSize * (pageIndex) + i + 1}}</td>
            <td>{{particularType?.account_name}}</td>
            <td>{{particularType?.modified_on}}</td>
            <td>{{particularType?.modified_by?.userfullname}}</td>
            <td>
              <mat-slide-toggle [checked]="(particularType?.is_active) ? true : false"
                                (change)="activeInactiveAccount($event.checked,particularType)"></mat-slide-toggle>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="modal-layer" (click)="onClose(false)"></div>
<!-- End add more particular type modal -->
