<!-- Admin (Administration) user change html view -->
<div class="admin-user-change-password-container">
  <!-- Start form view -->
  <form [formGroup]="changePasword" (submit)="onSubmitChangePassword(changePasword.value,changePasword.valid)">
    <div class="row">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12 PLR-0">
            <mat-form-field>
              <input matInput [type]="hide ? 'password' : 'text'" placeholder="New Password"
                     formControlName="password"/>
              <mat-icon matSuffix>
                <i class="material-icons" (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</i>
              </mat-icon>
            </mat-form-field>
            <div class="validation-msg">
              <app-validation *ngIf="isRequiredField(changePasword.get('password'))"
                              [errMsg]="validationMsg.NEW_PASSWORD"></app-validation>
            </div>
          </div>

          <div class="col-md-12 PLR-0 MT-5">
            <mat-form-field>
              <input matInput [type]="hideConfirm ? 'password' : 'text'" placeholder="Confirm New Password"
                     formControlName="confirm_password"/>
              <mat-icon matSuffix>
                <i class="material-icons" (click)="hideConfirm = !hideConfirm">{{hideConfirm ? 'visibility' :
                  'visibility_off'}}</i>
              </mat-icon>
            </mat-form-field>

            <div class="validation-msg">
              <app-validation *ngIf="isRequiredField(changePasword.get('confirm_password'))"
                              [errMsg]="validationMsg.CONFIRM_PASSWORD"></app-validation>
              <app-validation
                *ngIf="changePasword.controls.confirm_password.errors?.ConfirmPassword && changePasword.controls.confirm_password.dirty;"
                [errMsg]="validationMsg.CONFIRM_PASSWORD_DOES_NOT_MATCH"></app-validation>

              <!--<app-validation *ngIf="hasError(MatchPassword,resetPasswordForm,confirmPassword)"-->
              <!--[errMsg]="validationMsg.CONFIRM_PASSWORD_DOES_NOT_MATCH"></app-validation>-->
            </div>
          </div>

          <div class="col-md-12 save-history-btns PR-0">
            <button type="button" class="btn-default MR-10">Cancel</button>
            <button type="submit" class="btn-primary" [disabled]="!changePasword.valid">Save</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- End form view -->
</div>
