<!--  Start Add Master Checklist dialog  -->
<div>
  <div class="modal__header">
    <div class="modal__header__logo">{{data.edit_data ? 'Update' : 'Add'}} Master Checklist</div>
  </div>

  <div class="modal__close">
    <a><i class="material-icons" (click)="onClose()">close</i></a>
  </div>

  <form [formGroup]="addMasterCheklistForm" (submit)="onSubmitAddMasterChecklistForm(addMasterCheklistForm)">
    <div class="modal__body">
      <div class="row">
        <div class="col-md-12">
          <mat-form-field>
            <input matInput placeholder="Master Checklist" formControlName="addMasterChecklist" required/>
          </mat-form-field>
          <div class="validation-msg">
            <app-validation *ngIf="isRequiredField(addMasterCheklistForm.get('addMasterChecklist'))"
                            [errMsg]="validationMsg.MASTER_CHECKLIST_REQUIRED"></app-validation>
            <app-validation *ngIf="isValidField(addMasterCheklistForm.get('addMasterChecklist'))"
                            [errMsg]="validationMsg.MASTER_CHECKLIST_VALID"></app-validation>
          </div>
        </div>

        <div class="col-md-12 MT-10">
          <!--<ng-select [items]="masterActivityData"-->
          <!--[closeOnSelect]="true"-->
          <!--bindLabel="name"-->
          <!--placeholder="Master Activity"-->
          <!--bindValue="id"-->
          <!--[virtualScroll]="true"-->
          <!--[searchable]="true"-->
          <!--[hideSelected]="true"-->
          <!--(change)="getTaskData($event);"-->
          <!--formControlName="addMasterActivity">-->
          <!--</ng-select>-->
          <!-- <mat-form-field>
             <mat-select placeholder="Master Activity" formControlName="addMasterActivity"
                         (selectionChange)="getTaskData($event)" [(ngModel)]='selectBoxData' required>
               <mat-option *ngFor="let data of masterActivityData; let i = index;" [value]="+data.id">{{data.name}}
               </mat-option>
             </mat-select>
           </mat-form-field>-->
          <ng-select [items]="masterActivityData"
                     [closeOnSelect]="true"
                     bindLabel="name"
                     placeholder="Master Activity"
                     bindValue="id"
                     [virtualScroll]="true"
                     [searchable]="true"
                     [hideSelected]="true"
                     (change)="getTaskData($event)"
                     formControlName="addMasterActivity">
          </ng-select>
          <div class="validation-msg">
            <app-validation *ngIf="isRequiredField(addMasterCheklistForm.get('addMasterActivity'))"
                            [errMsg]="validationMsg.MASTER_ACTIVITY_REQUIRED"></app-validation>
          </div>
        </div>

        <div class="col-md-12  MT-10">
          <ng-select [items]="taskDataMain"
                     [closeOnSelect]="true"
                     bindLabel="name"
                     placeholder="Task"
                     bindValue="id"
                     [virtualScroll]="true"
                     [searchable]="true"
                     [hideSelected]="true"
                     formControlName="addTask">
          </ng-select>
          <!--<mat-form-field>-->
          <!--<mat-select placeholder="Task" formControlName="addTask" [(ngModel)]="taskIdData" required>-->
          <!--<mat-option *ngFor="let data of taskDataMain" [value]="data.id">{{data.name}}</mat-option>-->
          <!--</mat-select>-->
          <!--</mat-form-field>-->
          <div class="validation-msg">
            <app-validation *ngIf="isRequiredField(addMasterCheklistForm.get('addTask'))"
                            [errMsg]="validationMsg.TASK_REQUIRED"></app-validation>
          </div>
        </div>
      </div>
    </div>

    <div class="modal__footer" *ngIf="data.edit_data">
      <div class="text-right row">
        <div class="col-md-12 PR-25" (click)="updateFunction()">
          <button class="btn-primary" [disabled]="addMasterCheklistForm.invalid">Update</button>
        </div>
      </div>
    </div>

    <div class="modal__footer" *ngIf="!data.edit_data">
      <div class="text-right row">
        <div class="col-md-12 PR-25" (click)="addFunction()">
          <button class="btn-primary" [disabled]="addMasterCheklistForm.invalid">Save</button>
        </div>
      </div>
    </div>
  </form>
</div>
<!--  End Change InOut Time dialog  -->
