<div class="exception-shift-container">
  <!-- Start BreadCrumb Top Header -->
  <div class="breadcrumb-top-header">
    <div class="row">
      <div class="col-md-12 PL-0">
        <div class="breadcrumb-top-header__breadcrumbs">
          <mat-icon class="material-icons cursor-pointer"><a (click)="onGoDashboard()">home</a></mat-icon>
          <mat-icon>keyboard_arrow_right</mat-icon>
          <span>HRMS</span>
          <mat-icon>keyboard_arrow_right</mat-icon>
          <span class="active">EXCEPTION SHIFT</span>
        </div>
      </div>
    </div>
  </div>
  <!-- End BreadCrumb Top Header -->

  <!-- Start Data Grid -->
  <div class="with-filter-grid-container">
    <!-- Start Grid Inner Header -->
    <div class="grid-inner-header">
      <div class="row">
        <div class="col-md-9 inner-header-title MT-10">
          <button class="open-dialog-btn" (click)="onExceptionShiftListDialog(null)" *ngIf="tabData['add_edit']">
            <mat-icon class="material-icons">add</mat-icon>
            Add Exception Shift
          </button>
        </div>
        <div class="col-md-2 PR-0">
          <div class="grid-search">
            <form [formGroup]="filterForm">
              <mat-form-field floatLabel="never">
                <input matInput placeholder="Search" (keyup)="setAdvanceFilter(filterForm)"
                       formControlName="shift_name">
              </mat-form-field>
            </form>
          </div>
        </div>
        <div class="col-md-1 PL-0 MT-5">
          <ul class="download-icon">
            <li>
              <a (click)="downloadExcel()" *ngIf="tabData['export']">
                <span>Excel</span>
                <mat-icon class="material-icons">file_download</mat-icon>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End Grid Inner Header -->

    <!-- Start Table -->
    <div class="table-container">
      <div class="table-block">
        <table>
          <thead>
          <tr>
            <th width="4%">Sr. No</th>

            <th width="10%"
                (click)="getSortData('shift_name', sortBy === 'shift_name' ? (sortOrder === 'asc' ? 'desc' : 'asc') : 'asc')">
              Shift Name
              <i *ngIf="sortBy === 'shift_name'"
                 [ngClass]="{'material-icons': true, 'icon-up' : sortBy === 'shift_name' && sortOrder === 'asc', 'icon-down' :  sortBy === 'shift_name' && sortOrder === 'desc'}">
                {{sortBy === 'shift_name' ? (sortOrder === 'asc' ? 'arrow_upward':'arrow_downward') : ''}}
              </i>
            </th>

            <th width="7%">S_Date
            </th>

            <th width="7%">E_Date
            </th>

            <th width="5%">S_Time
            </th>

            <th width="5%">E_Time
            </th>

            <th width="8%">Grace Period
            </th>

            <th width="7%">Late Period
            </th>

            <th width="7%">Allowed Late coming
            </th>

            <th width="8%">Break Time
            </th>

            <th width="10%">Note
            </th>

            <th width="14%">Modified</th>

            <th width="8%">Action</th>
          </tr>
          </thead>
        </table>

        <div class="table-body">
          <table>
            <tbody>
            <tr *ngFor="let exceptionshiftlist of exceptionShiftList; let i = index">
              <td width="4%">{{+pageSize * (pageIndex) + i + 1}}</td>
              <td width="10%">{{exceptionshiftlist?.shift_id?.shift_name}}</td>
              <td width="7%">{{exceptionshiftlist?.start_date | date:"dd-MM-yyyy"}}</td>
              <td width="7%">{{exceptionshiftlist?.end_date | date:"dd-MM-yyyy"}}</td>
              <td width="5%">{{exceptionshiftlist?.from_time}}</td>
              <td width="5%">{{exceptionshiftlist?.to_time}}</td>
              <td width="8%">{{exceptionshiftlist?.grace_period}}</td>
              <td width="7%" class="orange-color">{{exceptionshiftlist?.late_period}}</td>
              <td width="7%" class="primary-color fw-500 text-center">{{exceptionshiftlist?.late_allowed_count}}</td>
              <td width="8%">{{exceptionshiftlist?.break_time}}</td>
              <td width="10%" class="word-break">{{exceptionshiftlist?.description}}</td>
              <td width="14%">
                {{(exceptionshiftlist?.modified_by?.userfullname)?exceptionshiftlist?.modified_by?.userfullname+'
                |':'-'}} {{exceptionshiftlist?.modified_on | date:"dd-MM-yyyy"}}
              </td>
              <td width="8%">
                <mat-icon class="light-orange-color" [matTooltip]="'Edit'"
                          (click)="onExceptionShiftListDialog(exceptionshiftlist)" *ngIf="tabData['add_edit']">edit
                </mat-icon>
                <mat-icon class="red-color" [matTooltip]="'Delete'"
                          (click)="onDeleteExceptionShiftDialog(exceptionshiftlist)" *ngIf="tabData['delete']">delete
                </mat-icon>
                <span *ngIf="tabData['add_edit']">
                <mat-slide-toggle [matTooltip]="'Active'" *ngIf="exceptionshiftlist?.is_active === 1"
                                  (click)="onOpenActiveToggleDialog(exceptionshiftlist)"
                                  [checked]="true"></mat-slide-toggle>
                <mat-slide-toggle [matTooltip]="'Inactive'" *ngIf="exceptionshiftlist?.is_active === 0"
                                  (click)="onOpenActiveToggleDialog(exceptionshiftlist)"
                                  [checked]="false"></mat-slide-toggle>
                  </span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <table *ngIf="exceptionShiftList.length">
          <tfoot>
          <tr>
            <td colspan="10">
              <mat-paginator [length]="totalRecords"
                             [pageSize]="pageSize"
                             [pageSizeOptions]="pageSizeOptions"
                             (page)="onPageChange($event)">
              </mat-paginator>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>

    <div *ngIf="!exceptionShiftList.length" class="panel-title red-color">
      No Records Found!
    </div>
    <!-- End Table -->
  </div>
  <!-- End Data Grid -->
</div>
