<div class="with-filter-grid-container">
  <!-- Start Grid Inner Header -->
  <div class="grid-inner-header">
    <div class="row">
      <div class="col-md-2">
        <div>
          <form [formGroup]="filterForm">
            <mat-form-field [floatLabel]="'never'">
              <input matInput placeholder="Search" formControlName="manage_emails_search"
                     (keyup)="setAdvanceFilter(filterForm)">
            </mat-form-field>
          </form>
        </div>
      </div>
      <div class="col-md-10">
        <ul class="download-icon">
          <li (click)="downloadExcel()" *ngIf="tabData['export']">
            <a>
              <span>Excel</span>
              <mat-icon class="material-icons">file_download</mat-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <!-- End Grid Inner Header -->
  <!--start table-->
  <div class="newsletter-container">
    <div class="table-container table-no-striped">
      <div class="table-block">
        <table>
          <thead>
          <tr>
            <th width="4%">Sr. No</th>
            <th width="8%">Entity</th>
            <th width="8%">Contact Position</th>
            <th width="8%">Email</th>
            <th width="8%">Action</th>
          </tr>
          </thead>
        </table>

        <div class="table-body">
          <table>
            <tbody>
            <tr *ngFor="let newsletter of newsletterList; let i = index;">
              <td width="4%">{{i+1}}</td>
              <td width="8%">{{newsletter['trading_name']}}</td>
              <td width="8%">{{newsletter['position']}}</td>
              <td width="8%">{{newsletter['email']}}</td>
              <td width="8%">
                <mat-icon class="red-color" *ngIf="tabData['add_edit']"
                          (click)="onArchiveGroupDialog(newsletter['email'])" matTooltip="archive">unsubscribe
                </mat-icon>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <table *ngIf="newsletterList.length">
          <tfoot>
          <tr>
            <td colspan="10">
              <mat-paginator [length]="totalRecords"
                             [pageSize]="pageSize"
                             [pageIndex]="pageIndex"
                             [pageSizeOptions]="pageArray"
                             (page)="onPageChange($event)">
              </mat-paginator>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
  <!--end table-->
</div>
