<div class="client-view-quote-container">
  <div class="header">
    <div class="row">
      <div class="col-md-6">
        <img src="assets/images/logo.png" width="100"/>
      </div>

      <div class="col-md-6 text-right">
        <ul>
          <li>
            <a href="tel:1300873733">1300 U R FREE ( 1300 8 7 3733 )</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="body-container">
    <h2>Thank You</h2>
    <p>
      Thank you for contacting befree!
      One of our representatives will be in touch within 24 hours, but if you don't want to wait please feel free to
      give us a call on 1300 873 733. We'd love to hear from you!
      In the meantime, please feel free to check out some of our <a href="https://www.befree.com.au/testimonials/"
                                                                    target="_blank">client videos</a> to find out why
      we're so great!
      Have a great day!
    </p>
  </div>

  <div class="footer">
    <div class="row">
      <div class="col-md-6">
        <div class="MT-25">
          Copyright {{currentDate | date:'yyyy'}} | <a href="http://befree.com.au/" target="_blank">Befree</a> | <a
          href="https://www.befree.com.au/sitemap_index.xml" target="_blank">Sitemap</a>
        </div>
      </div>
      <div class="col-md-6 text-right">
        <img src="assets/images/xero-gold.png" width="100">
        <img src="assets/images/cpa-icon.jpg" width="100">
        <img src="assets/images/fast-icon.jpg" width="100">
        <img src="assets/images/accounting-awards.png" height="50">
      </div>
    </div>
  </div>
</div>
