<!--  Start Upload Leave List  dialog  -->
<div class="modal">
  <div class="modal__header">
    <div class="modal__header__logo">Upload Leave Balance</div>
  </div>

  <div class="modal__close">
    <a>
      <mat-icon class="material-icons" (click)="onClose(false)">close</mat-icon>
    </a>
  </div>
  <div class="modal__body">
    <div class="row">
      <div class="col-md-12 PLR-0">
        <div class="client-upload-docuemnts-dialog MT-5 col-md-12 PLR-0">
          <div class="container_upload" appDnd (fileDropped)="onFileDropped($event)">
            <input type="file" #fileDropRef id="fileDropRef" multiple
                   (change)="fileBrowseHandler($event)" accept=".csv"/>
            <mat-icon>cloud_upload</mat-icon>
            <h3>Drag and drop file here</h3>
            <h3>or</h3>
            <br/>
            <br/>
            <label for="fileDropRef">Browse for file</label>
          </div>
          <a href="{{url+'docs/leave.csv'}}" class="primary-color cursor-pointer">
            <mat-icon class="upload_ico">get_app</mat-icon>
            Download supported format</a>
        </div>
      </div>
    </div>
  </div>
</div>
