<!--  Start Holiday Master upload CSV dialog  -->
<div>
  <div class="modal__header">
    <div class="modal__header__logo">Upload CSV</div>
  </div>

  <div class="modal__close">
    <a>
      <mat-icon class="material-icons" (click)="onClose(false)">close</mat-icon>
    </a>
  </div>

  <form [formGroup]="addHolidayMasterCSVForm" (submit)="onSubmit(addHolidayMasterCSVForm)">
    <div class="modal__body">
      <div class="row">
        <div class="col-md-12 MT-10">
          <mat-form-field>
            <input matInput placeholder="Uploaded CSV File" type="text" name="uploadDocument"
                   formControlName="upload" readonly>
            <mat-icon matSuffix (click)="onClear()" *ngIf="documentName">close</mat-icon>
            <mat-icon matSuffix (click)="onChooseDocument()">attach_file</mat-icon>
            <input type="file" [hidden]="true" id="uploadDocument" (change)="onUploadDocument($event)"/>
          </mat-form-field>
          <div class="validation-msg">
            <app-validation *ngIf="isRequiredField(addHolidayMasterCSVForm.get('upload'))"
                            [errMsg]="validationMsg.CSV_REQUIRED"></app-validation>
          </div>
          <a href="{{url+'docs/holidaylist.csv'}}" class="primary-color cursor-pointer">
            <mat-icon class="upload_ico">get_app</mat-icon>
            Download supported format</a>
        </div>
      </div>
    </div>
    <div class="modal__footer">
      <div class="text-right row">
        <div class="col-md-12 PR-25">
          <button class="btn-primary" [disabled]="addHolidayMasterCSVForm.invalid">Save</button>
        </div>
      </div>
    </div>
  </form>
</div>
<!--  End Holiday Master dialog  -->
