<div class="admin-worksheet-training-list-container">
  <!-- Start BreadCrumb Top Header -->
  <div class="breadcrumb-top-header">
    <div class="row">
      <div class="col-md-9 PL-0">
        <div class="breadcrumb-top-header__breadcrumbs">
          <mat-icon class="material-icons cursor-pointer"><a (click)="onGoDashboard()">home</a></mat-icon>

          <mat-icon class="material-icons">keyboard_arrow_right</mat-icon>
          <span>WORKFLOW</span>

          <mat-icon class="material-icons">keyboard_arrow_right</mat-icon>
          <span class="active">
            <a (click)="onWorksheetDashboard()">WORKSHEET</a>
          </span>

          <mat-icon class="material-icons">keyboard_arrow_right</mat-icon>
          <span class="active">TRAINING LIST</span>
        </div>
      </div>
      <div class="col-md-3 PR-0">
        <div class="breadcrumb-top-header__right-menu">
          <ul>
            <li>
              <a>
                <label class="black-color">Quick actions</label>
                <i class="material-icons" [matMenuTriggerFor]="menu">more_vert</i>
                <mat-menu #menu="matMenu" class="column-menu">
                  <button mat-menu-item class="menu-header">
                    <h3>Quick Action</h3>
                  </button>
                  <button mat-menu-item (click)="onOpenQuickMenu('addNewWorksheet')"
                          *ngIf="worksheetTabIDData['add_edit']">Add New Worksheet
                  </button>
                  <button mat-menu-item (click)="onOpenQuickMenu('todayWorksheet')">Today's Worksheet</button>
                  <button mat-menu-item (click)="onOpenQuickMenu('todayTimesheet')">Today's Timesheet</button>
                  <button mat-menu-item (click)="onOpenQuickMenu('worksheetHierarchy')"
                          *ngIf="tabDataWorksheetHierarchy['view']">Worksheet Hierarchy
                  </button>
                  <button mat-menu-item (click)="onOpenQuickMenu('subClientList')"
                          *ngIf="tabDataWorksheetSubClientList['view']">Sub Client List
                  </button>
                  <button mat-menu-item (click)="onOpenQuickMenu('worksheetMasterChecklist')"
                          *ngIf="tabDataWorksheetMasterChecklist['view']">Worksheet Master Checklist
                  </button>
                  <button mat-menu-item (click)="onOpenQuickMenu('changeMultipleWorksheetStatus')"
                          *ngIf="isMultipleStatusUpdate">Change Multiple Worksheet Status
                  </button>
                  <button mat-menu-item (click)="onOpenQuickMenu('revieworKnockBackWorksheet')"
                          *ngIf="tabDataWorksheetReviewerList['view']">Review or Knock Back
                    Worksheet
                  </button>
                  <button mat-menu-item (click)="onOpenQuickMenu('peerReviewWorksheetListing')"
                          *ngIf="tabDataWorksheetPeerReviewerList['view']">Peer Review Worksheet
                    Listing
                  </button>
                </mat-menu>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End BreadCrumb Top Header -->

  <!-- Start Data Grid -->
  <div class="with-filter-grid-container">
    <!-- Start Grid Inner Header -->
    <div class="grid-inner-header">
      <div class="row">
        <div class="col-md-6 inner-header-title">
          <button class="open-dialog-btn" (click)="onOpenAddEditTrainingDialog()">
            <mat-icon class="material-icons">add</mat-icon>
            Add Training List
          </button>
        </div>

        <div class="col-md-6">
          <ul class="download-icon">
            <li>
              <a (click)="onToggleFilter()">
                <span>Filter</span>
                <mat-icon class="material-icons">filter_list</mat-icon>
              </a>
            </li>

            <li (click)="downloadExcel()">
              <a>
                <span>Excel</span>
                <mat-icon class="material-icons">file_download</mat-icon>
              </a>
            </li>
          </ul>
          <!-- <div class="grid-search">
            <div class="add-one">
              <input placeholder="Search" type="text">
              <span class="prefix">
                <mat-icon class="material-icons">search</mat-icon>
              </span>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <!-- End Grid Inner Header -->

    <!-- Start Grid Filter -->
    <div class="filter opacity-0" [ngClass]="{'opacity-1':isOpenFilterView}">
      <div class="filter-action-icon">
        <span class="filter-close" *ngIf="isOpenFilterView" (click)="onToggleFilter()">Esc
          <mat-icon class="material-icons">close</mat-icon>
        </span>
      </div>
      <div class="grid-filter-container">
        <div class="filter-title">
          <h3>Advance Filter</h3>
        </div>
        <form [formGroup]="filterForm" (submit)="setAdvanceFilter(filterForm)">
          <div class="row">
            <div class="col-md-3 MT-10">
              <mat-form-field>
                <input matInput placeholder="Training Name" formControlName="traning_name"/>
              </mat-form-field>
            </div>

            <div class="col-md-3 MT-10">
              <mat-form-field>
                <mat-select placeholder="Status" formControlName="is_active">
                  <mat-option value="1">Active</mat-option>
                  <mat-option value="0">Inactive</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-6 MT-10 text-right">
              <button type="button" class="btn-cancel" (click)="onClearTags()">Clear</button>
              <button type="submit" class="btn-primary">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- End Grid Filter -->

    <!-- Start Filter Tags -->
    <div class="filter-tags">
      <form [formGroup]="advanceFilterForm">
        <div class="tag" *ngIf="trainingNameField.value">
          <span class="tag__title">Training Name :</span>
          <span>
            <mat-form-field>
              <input matInput placeholder="Training Name" formControlName="traning_name"
                     (change)="setAdvanceFilterKeyUp($event, advanceFilterForm, true)"/>
            </mat-form-field>
          </span>
          <mat-icon class="material-icons tag__close" (click)="onClearTag('traning_name')">close</mat-icon>
        </div>

        <div class="tag" *ngIf="statusField.value">
          <span class="tag__title">Status:</span>
          <span>
            <mat-form-field>
              <mat-select (selectionChange)="setAdvanceFilterKeyUp($event, advanceFilterForm, true)"
                          placeholder="Status" #selectRef (selectionChange)="selectRef.readOnly = false" readonly
                          formControlName="is_active">
                <mat-option value="1">Active</mat-option>
                <mat-option value="0">Inactive</mat-option>
              </mat-select>
            </mat-form-field>
          </span>
          <mat-icon class="material-icons tag__close" (click)="onClearTag('is_active')">close</mat-icon>
        </div>
        <div class="clearAll-tags" *ngIf="statusField.value  || trainingNameField.value">
          <a (click)="onClearTags()">Clear all</a>
        </div>
      </form>
    </div>
    <!-- End Filter Tags -->

    <!-- Start Table -->
    <div class="table-container">
      <div class="table-block">
        <table>
          <thead>
          <tr>
            <th width="5%">Sr. No</th>

            <th width="30%" (click)="getSortData('traning_name',
             (sortBy === 'traning_name') ? (sortOrder === 'asc' ? 'desc' : 'asc') : 'asc')">Training Name
              <i *ngIf="sortBy === 'traning_name'" [ngClass]="{'material-icons': true,
                 'active' : (sortBy === 'traning_name'),
                  'icon-up' : ((sortBy === 'traning_name') && (sortOrder === 'asc')),
                  'icon-down' : true}">
                {{(sortBy === 'traning_name') ? ((sortOrder === 'asc') ? 'arrow_upward':'arrow_downward') :
                'arrow_downward'}}
              </i>
            </th>

            <th width="25%"> Created By</th>

            <th width="30%">Created On
            </th>

            <th width="10%">Action</th>
          </tr>
          </thead>
        </table>

        <div class="table-body">
          <table>
            <tbody>
            <tr *ngFor="let training of trainingList; let i = index">
              <td width="5%">{{+pageSize * (pageIndex) + i + 1}}</td>
              <td width="30%">{{training?.traning_name}}</td>
              <td width="25%">{{training?.created_by?.userfullname}}</td>
              <td width="30%">{{training?.created_on}}</td>
              <td width="10%">
                <mat-icon class="light-orange-color" (click)="onOpenAddEditTrainingDialog(training)">edit</mat-icon>
                <mat-slide-toggle [(ngModel)]="slideData[i]"
                                  (change)="onDisabledConfirmDialog($event, training, i)"></mat-slide-toggle>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <table *ngIf="trainingList.length">
          <tfoot>
          <tr>

            <td colspan="10">
              <mat-paginator [length]="totalRecords"
                             [pageSize]="pageSize"
                             [pageIndex]="pageIndex"
                             [pageSizeOptions]="pageArray"
                             (page)="onPageChange($event)">
              </mat-paginator>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <!-- End Table -->
    <div *ngIf="!trainingList.length" class="panel-title red-color">
      No Records Found!
    </div>
  </div>
  <!-- End Data Grid -->
</div>
