<!--  Start Send back to staff dialog  -->
<div class="modal">
  <div class="modal__header">
    <div class="modal__header__logo">Send Back to {{moveTo}}</div>
  </div>

  <div class="modal__close">
    <a>
      <mat-icon class="material-icons" (click)="onClose(false)">close</mat-icon>
    </a>
  </div>

  <form [formGroup]="addSendtoStaffForm" (submit)="onSubmit(addSendtoStaffForm)">
    <div class="modal__body">
      <div class="row">

        <div class="col-md-12 MB-20">
          <mat-form-field>
            <mat-label>Reason</mat-label>
            <textarea matInput
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="10" formControlName="send_back_reason" required></textarea>
          </mat-form-field>
          <div class="validation-msg">
            <app-validation *ngIf="isRequiredField(addSendtoStaffForm.get('send_back_reason'))"
                            [errMsg]="validationMsg.REASON_REQUIRED"></app-validation>
          </div>
        </div>
      </div>
    </div>
    <div class="modal__footer">
      <div class="text-right row">
        <div class="col-md-12 PR-25">
          <button class="btn-primary" [disabled]="addSendtoStaffForm.invalid">Submit</button>
        </div>
      </div>
    </div>
  </form>
</div>
<!--  End Send back to staff dialog  -->
