// -----------------------------------------------------------------------------------------------
// ================================ Bank information scss =========================
// -----------------------------------------------------------------------------------------------

.bank-information-container {
  &__accordion {
    .mat-expansion-panel {
      box-shadow: none !important;
      background: lighten($light-gray-color, 23%);
      margin: 0 1rem;
    }
    .mat-expansion-panel-header {
      &:hover {
        background: none !important;
      }
    }
    .mat-content {
      i, span {
        color: $dark-primary-color;
      }
      i {
        font-size: 2rem;
        line-height: 1.6rem;
        margin-right: .8rem;
      }
    }
  }

  &__toggle {
    position: relative;
    top: -.4rem;
  }

  div.mat-expansion-panel-content:not(.mat-expanded) {
    height: 0px !important;
    visibility: hidden !important;
  }

  .mat-expansion-panel-header {
    height: 48px;
  }
}

/*bank dialog*/
.bank-dialog {
  .search-bank-information {
    margin-top: 1rem;
    input {
      border: none;
      padding: 1rem 1rem 1rem 3rem;
      &:focus {
        outline: none;
      }
    }
    i.material-icons {
      position: absolute;
      top: .8rem;
      left: .5rem;
      font-size: 1.8rem;
    }
  }
  tbody {
    tr {
      height: 4.2rem;
      td {
        input {
          border: none;
          padding: .5rem 0;
          &:focus {
            outline: none;
            background: lighten($light-gray-color, 20);
          }
        }
      }
    }
  }
  .mat-paginator-page-size {
    display: none;
  }
}
