// -----------------------------------------------------------------------------------------------
// ================================ Admin (View Client) Bookkeeping scss =========================
// -----------------------------------------------------------------------------------------------
.bookkeeping-container {
  padding-top: 1rem;
  .bookkeeping-body {
    margin-top: 2rem;
    padding: 0 1.4rem;
    .list-view {
      border: 1px solid lighten($light-gray-color, 18%);
      background-color: lighten($light-gray-color, 22%);
      box-sizing: border-box;
      margin-bottom: 1rem;
      &__left-content {
        padding: 1rem 0;
        h3 {
          font-weight: normal;
          color: $dark-primary-color;
          margin-bottom: 1rem;
        }
      }
      &__right-content {
        padding: 1rem 0;
        label {
          color: $dark-black-color;
          width: 10rem;
          display: inline-block;
          line-height: 1.9rem;
          font-weight: 500;
        }
        span {
          color: $gray-color;
        }
      }
      &__action-icons {
        padding: 1rem 0;
        span {
          margin-right: 1rem;
          cursor: pointer;
          i {
            vertical-align: sub;
            font-size: 1.7rem;
          }
          &.edit-icon {
            color: $dark-primary-color;
          }
          &.delete-icon {
            color: $delete-icon-color;
          }
        }
      }
      &__archived-list {
        padding: 1rem 0;
        text-align: right;
        div {
          display: inline-block;
          padding-right: 1rem;
          margin-right: 1rem;
          &:first-child {
            border-right: 1px solid $gray-color;
          }
          label {
            color: $dark-black-color;
            font-weight: 500;
          }
          span {
            font-weight: 500;
            color: $light-orange-color;
          }
        }
      }
    }
  }
}


