// -----------------------------------------------------------------------------------------------
// ================================ Client checklist scss =========================
// -----------------------------------------------------------------------------------------------
.client-checklist-container {
  .filter-checklist {
    padding: 0.5rem 0.8rem 0.3rem 0.8rem;
    display: block;
    cursor: pointer;
    span {
      cursor: pointer;
      position: relative;
      top: -0.6rem;
    }
    .mat-icon {
      font-size: 2rem;
    }
  }
}

// Add checklist question dialog
.add-checklist-question-panel-container {
  min-width: 35vw !important;
  max-width: 35vw !important;
}
