<div class="hrms-container">
  <div class="row col-md-12">
    <div class="row col-md-12 PLR-0">
      <div class="col-md-8 PL-0 MT-15">
        <h3 class="bredcum_title">
          <mat-icon class="v-align-middle MR-5">dashboard</mat-icon>
          My Dashboard
        </h3>
      </div>
      <div class="col-md-2 PR-0">
        <mat-form-field floatLabel="never" *ngIf="masterMenuList.length">
          <mat-select placeholder="Months" (selectionChange)="onChangeTypeOfView($event.value)"
                      [value]="masterMenuList[0]['type']">
            <mat-option *ngFor="let masterMenu of masterMenuList;" [value]="masterMenu.type">{{masterMenu.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-2 PR-0">
        <mat-form-field floatLabel="never" *ngIf="yearMonth.length">
          <mat-select placeholder="Months" (selectionChange)="onChangeGetValue($event.value)"
                      [value]="yearMonth[0]['key']">
            <mat-option *ngFor="let year of yearMonth;" [value]="year.key">{{year.label}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

  

</div>
