// ---------------------------------------------------------------------------------------------
// ===================================  Admin Header scss file =================================
// ---------------------------------------------------------------------------------------------
.admin-header-sidebar-container {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  // --------------------------------------------------------------- //
  // Header Section Scss
  // --------------------------------------------------------------- //
  .header-section {
    //flex: 5;
    width: 100%;
    background-color: $white-color;
//    box-shadow: 0 1px 0px -3px rgba(0, 0, 0, 0.2), 0 1px 1px 1px rgba(0, 0, 0, 0.14), 0 -1px 0px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 1px 2px 8px rgba(0,0,0,0.1);
    //margin-left: 20rem;
    &__top-bar-container {
      padding-left: 0;
    }
    &__top-bar {
      background-color: $dark-primary-color;
      padding: 0.7rem 1rem 1rem 1rem;
      box-sizing: border-box;
      display: inline-block;
      width: 20rem;
      box-shadow: 0 3px 0px -3px rgba(0, 0, 0, 0.2), 0 2px 3px 1px rgba(0, 0, 0, 0.14), 0 -1px 1px 1px rgba(0, 0, 0, 0.12);
      height: 100%;
      position: relative;
      img {
        width: 4rem;
        //vertical-align: bottom;
      }
      span {
        color: $white-color;
        font-size: 1.5rem;
        padding-left: 0.8rem;
        position: relative;
        top: -0.6rem;
        font-weight: 500;
      }
      i {
        float: right;
        padding: 0.7rem 0;
        color: $white-color;
        cursor: pointer;
      }
    }
    &__left-menu {
      padding: 0;
      margin: 0;
      display: inline-block;
      li {
        list-style-type: none;
        display: inline-block;
        a {
          padding: 0.8rem 1rem 0.7rem 1rem;
          font-size: 3rem;
          display: inline-block;
          cursor: pointer;
          &:first-child {
            padding: 0.8rem 1.5rem 0.7rem 1rem;
            //  border-right: 1px solid lighten($light-gray-color, 15%);
          }
          i {
            color: $black-color;
            &.active {
              color: $dark-primary-color;
            }
          }
          .dropdown-icon {
            margin: 0 -0.6rem 0 -1.2rem;
          }
        }
      }
      .mega-menu-container {
        position: relative;
        .mega-menu {
          width: 85rem;
          text-align: left;
          z-index: 1;
          position: absolute;
          top: 4.5rem;
          background-color: $white-color;
          left: - 0.4rem;
          padding: 0;
          margin: 0;
          box-shadow: 0 1px 0px -3px rgba(0, 0, 0, 0.2), 0 1px 1px 0px rgba(0, 0, 0, 0.14), 0 1px 2px 1px rgba(0, 0, 0, 0.12);
          &__main-nav {
            width: 15rem;
            text-align: left;
            z-index: 1;
            background-color: lighten($light-gray-color, 20%);
            //padding: 3rem 0 3rem 0;
            margin: 0;
            li {
              display: block;
              a {
                border-right: 0;
                font-size: 1.4rem;
                font-weight: 400;
                border-bottom: 1px solid lighten($light-gray-color, 15%);
                border-right: 1px solid lighten($light-gray-color, 15%);
                display: block;
                padding: 1rem;
                &.active {
                  background-color: $white-color;
                  color: $dark-primary-color;
                  border-right: 0;
                  i {
                    color: $dark-primary-color;
                  }
                }
                i {
                  vertical-align: bottom;
                  font-size: 1.7rem;
                  margin-right: 0.4rem;
                }
                label {
                }
                .sub-nav {
                  position: absolute;
                  left: 15rem;
                  top: 0;
                  width: calc(100% - 15rem);
                  padding: 1rem;
                  &__header-title {
                    h3 {
                      margin-bottom: 1rem;
                      color: $black-color;
                      border-bottom: .1rem solid lighten($light-gray-color, 15%);
                      font-weight: 500;
                      font-size: 1.5rem;
                      padding-bottom: .5rem;
                    }
                  }
                  ul {
                    li {
                      display: inline-block;
                      a {
                        color: darken($gray-color, 30%);
                        border: 0;
                        display: block;
                        font-size: 1.3rem;
                        font-weight: 400;
                        width: 22rem;
                        i {
                          color: $black-color;
                          font-size: 1.7rem;
                          margin-right: 0.1rem;
                          position: relative;
                          top: 0.1rem;
                        }
                        &:hover, &:hover > i {
                          color: $dark-primary-color;
                        }
                      }
                    }
                  }

                }
              }
              &:first-child {
                a {
                  //border-top: 1px solid lighten($light-gray-color, 10%);
                }
              }
            }
          }
        }
      }
    }

    &__right-menu {
      padding: 0;
      margin: 0;
      text-align: right;
      li {
        list-style-type: none;
        display: inline-block;
        a {
          padding: .9rem 1.4rem;
          display: inline-block;
          // border-left: 1px solid lighten($light-gray-color, 15%);
          cursor: pointer;
          // text-align: center;
          margin-right: -0.4rem;
          i {
            color: darken($light-gray-color, 8%);
            &.active {
              color: $dark-primary-color;
            }
          }
          ul {
            //&.opacity-0 {
            //  opacity: 0;
            //  visibility: hidden;
            //}
            //&.opacity-0.opacity-1 {
            //  opacity: 1;
            //  visibility: visible;
            //  -webkit-transition: opacity .8s ease, visibility .5s ease;
            //  transition: opacity .8s ease, visibility .5s ease;
            //}
          }
        }
      }
      .wishList {
        position: relative;
        &__menu {
          text-align: left;
          z-index: 1;
          position: absolute;
          width: 18rem;
          top: 4rem;
          background-color: $white-color;
          right: 0;
          padding: 0 0;
          margin: 0;
          box-shadow: 0 1px 0px -3px rgba(0, 0, 0, 0.2), 0 1px 1px 0px rgba(0, 0, 0, 0.14), 0 1px 2px 1px rgba(0, 0, 0, 0.12);
          @include border-radius(.4rem);
          overflow: hidden;
          li {
            display: block;
            a {
              border: 0;
              display: block;
              box-sizing: border-box;
              width: 100%;
              font-size: 1.5rem;
              color: $dark-black-color;
              &:hover {
                color: $black-color;
              }
              &.favorite-menu-link {
                justify-content: space-between;
                display: flex;
                line-height: 2.5rem;
                padding: 5px 1.3rem;
                font-size: 1.5rem;
                font-weight: 500;
                flex-direction: row;
                background-color: $dark-primary-color;
                color: $white-color;
                cursor: pointer;
                label {
                  cursor: pointer;
                }
                i {
                  color: $white-color;
                  font-size: 2.1rem;
                }
                &:hover {
                  background-color: $primary-color;
                  i {
                    //  color: $primary-color;
                  }
                }
              }
            }
          }
        }
      }
      .notifications {
        position: relative;
        &__counter {
          @include border-radius(2rem);
          position: absolute;
          right: 0.7rem;
          top: 0.2rem;
          font-weight: 500;
          background-color: $white-color;
          padding: 1px 4px 2px 2px;
          small {
            @include border-radius(2rem);
            font-size: 1rem;
            background-color: $dark-primary-color;
            color: $white-color;
            padding: 1px 4px 1px 4px;
          }
        }
        &__menu {
          text-align: left;
          z-index: 1;
          position: absolute;
          width: 38rem;
          top: 4rem;
          background-color: $white-color;
          right: 0;
          padding: 0;
          margin: 0;
          box-shadow: 0 1px 0px -3px rgba(0, 0, 0, 0.2), 0 1px 1px 0px rgba(0, 0, 0, 0.14), 0 1px 2px 1px rgba(0, 0, 0, 0.12);
          li {
            display: block;
            & > a {
              border: 0;
              display: flex;
              flex-direction: row;
              box-sizing: border-box;
              width: 100%;
              font-size: 1.3rem;
              color: $gray-color;
              border-bottom: 1px solid lighten($light-gray-color, 15%);
              &:hover {
                background-color: lighten($light-gray-color, 22%);
              }
              .profile-icon {
                margin-right: 1rem;
                img {
                  vertical-align: middle;
                }
              }
              .notification-details {
                flex: 1;
                h3 {
                  float: left;
                  width: 20rem;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  margin: 0;
                  font-weight: 500;
                  font-size: 1.3rem;
                  color: $black-color;
                  line-height: 2rem;
                }
                .notifications-time {
                  float: right;
                  color: $dark-primary-color;
                  font-weight: 500;
                  margin-top: 0.3rem;
                }

                .notification-content {
                  margin-top: 0.5rem;
                  color: $gray-color;
                }
                .notification-by {
                  text-align: right;
                  margin-top: 0.5rem;
                  font-style: italic;
                }
              }
            }
          }
        }
        .view-all-link {
          text-align: center;
          a {
            display: block;
            border: none;
            color: $dark-primary-color;
            font-weight: 500;
          }
        }
      }
      .profile {
        position: relative;
        i {
          border: 2px solid $light-gray-color;
          @include border-radius(2rem);
          padding: .2rem;
          &.active {
            border: 2px solid $primary-color;
          }
        }
        &__menu {
          text-align: left;
          z-index: 1;
          position: absolute;
          width: 17rem;
          top: 4.5rem;
          background-color: $white-color;
          right: 0;
          padding: 0;
          margin: 0;
          box-shadow: 0 1px 0px -3px rgba(0, 0, 0, 0.2), 0 1px 1px 0px rgba(0, 0, 0, 0.14), 0 1px 2px 1px rgba(0, 0, 0, 0.12);
          @include border-radius(.4rem);
          overflow: hidden;
          li {
            display: block;
            a {
              border: 0;
              display: block;
              box-sizing: border-box;
              width: 100%;
              font-size: 1.4rem;
              font-weight: 400;
              color: $dark-black-color;
              i {
                border: none;
                font-size: 1.5rem;
                vertical-align: bottom;
                padding-left: 0;
                color: $dark-black-color;
              }
              &:hover {
                color: lighten($black-color, 10%);
                i {
                  color: lighten($black-color, 10%);
                }
              }
            }
            &.user-name {
              a {
                background-color: $dark-primary-color;
                color: $white-color;
                font-size: 1.5rem;
                font-weight: 500;
                @include elipsis(17rem);
              }
            }
          }
        }
      }
      .timeline {
        &__menu {
          text-align: left;
          z-index: 1;
          position: absolute;
          height: 93vh;
          width: 22rem;
          top: 4.5rem;
          background-color: $white-color;
          right: 0;
          padding: 0.5rem 0;
          margin: 0;
          box-shadow: 0 1px 0px -3px rgba(0, 0, 0, 0.2), 0 1px 1px 0px rgba(0, 0, 0, 0.14), 0 1px 2px 1px rgba(0, 0, 0, 0.12);
          //&.opacity-0 {
          //  opacity: 0;
          //  visibility: hidden;
          //}
          //&.opacity-0.opacity-1 {
          //  opacity: 1;
          //  visibility: visible;
          //  -webkit-transition: opacity .8s ease, visibility .5s ease;
          //  transition: opacity .8s ease, visibility .5s ease;
          //}
          .activity {
            .header-title {
              h3 {
                margin: 0;
                padding: 0.7rem 0.5rem;
                background-color: $dark-primary-color;
                color: $white-color;
                font-weight: 500;
                font-size: 1.3rem;
              }
            }
            li {
              display: block;
              &:first-child {
                label {
                  margin-top: 1.5rem;
                }
              }
              &:last-child {
                label {
                  margin-bottom: 1.5rem;
                }
              }
              label {
                margin: 1rem 0 0 0;
                display: inline-block;
                font-size: 1.2rem;
                font-weight: 500;
                padding-left: 2rem;
                width: 9rem;
                color: lighten($black-color, 15%);
              }
              span {
                margin: 1rem 0;
                display: inline-block;
                font-size: 1.2rem;
                color: $gray-color;
                font-style: italic;
                font-weight: 500;
              }
              a {
                border: 0;
                display: block;
                box-sizing: border-box;
                width: 100%;
                font-size: 1.3rem;
                color: $gray-color;
              }
            }
          }

          .read-policy {
            .header-title {
              h3 {
                margin: 0;
                padding: 0.7rem 0.5rem;
                background-color: $dark-primary-color;
                color: $white-color;
                font-weight: 500;
                font-size: 1.3rem;
              }
            }
            li {
              display: block;
              a {
                border: 0;
                display: block;
                box-sizing: border-box;
                width: 100%;
                font-size: 1.3rem;
                color: $gray-color;
                text-decoration: none;
                padding: 0.7rem 1.4rem;
                //&:hover {
                //  color: $primary-color;
                //}
                label {
                  margin: 1rem 0 0 0;
                  font-size: 1.2rem;
                  font-weight: 500;
                  color: lighten($black-color, 15%);
                }
                i {
                  position: relative;
                  top: 0.2rem;
                  font-size: 1.3rem;
                  color: $dark-primary-color;
                }
              }
              &:nth-child(2) {
                margin-top: 1rem;
              }
              //&:nth-child(3) {
              //  i {
              //    color: $green-color;
              //  }
              //}
              //&:nth-child(4) {
              //  i {
              //    color: $red-color;
              //  }
              //}
            }
          }
        }
      }
    }
  }

  // Responsive function for table / ipad landscape view
  @include respond(tab-land) {
    .header-section {
      &__top-bar-container {
      }
      &__top-bar {
        img {
        }
        span {
        }
        i {
        }
      }
      &__left-menu {
        li {
          a {
            &:first-child {
            }
            i {
            }
            .dropdown-icon {
            }
          }
        }
        .mega-menu-container {
          // position: relative;
          .mega-menu {
            width: 85rem;
            //  left: 5px;
            &__main-nav {
              li {
                a {
                  &.active {
                    i {
                    }
                  }
                  i {
                  }
                  label {
                  }
                  .sub-nav {
                    position: absolute;
                    left: 15rem;
                    top: 0;
                    width: calc(100% - 15rem);
                    padding: 1rem;
                    overflow: auto;
                    height: 100%;
                    &__header-title {
                      h3 {
                      }
                    }
                    ul {
                      li {
                        a {
                          //padding: 0.5rem 0 0.3rem 0;
                          i {
                          }
                          &:hover, &:hover > i {
                          }
                        }
                      }
                    }
                  }
                }
                &:first-child {
                  a {
                  }
                }
              }
            }
          }
        }
      }
      &__right-menu {
        .full-screen {
        }
        .notifications {
          .notification-icon {
            .notifications__counter {
            }
          }
        }
        .wishList__menu {
          left: 0;
        }
      }
    }
  }

  // Responsive function for table / ipad portrait view
  @include respond(tab-port) {
    .header-section {
      &__top-bar-container {
      }
      &__top-bar {
        img {
        }
        span {
        }
        i {
        }
      }
      &__left-menu {
        li {
          a {
            &:first-child {
            }
            i {
            }
            .dropdown-icon {
            }
          }
        }
        .mega-menu-container {
          position: inherit;
          .mega-menu {
            width: 65rem;
            left: 5px;
            &__main-nav {
              li {
                a {
                  &.active {
                    i {
                    }
                  }
                  i {
                  }
                  label {
                  }
                  .sub-nav {
                    position: absolute;
                    left: 15rem;
                    top: 0;
                    width: calc(100% - 15rem);
                    padding: 1rem;
                    overflow: auto;
                    height: 100%;
                    &__header-title {
                      h3 {
                      }
                    }
                    ul {
                      li {
                        a {
                          padding: 0.5rem 0 0.3rem 0;
                          i {
                          }
                          &:hover, &:hover > i {
                          }
                        }
                      }
                    }
                  }
                }
                &:first-child {
                  a {
                  }
                }
              }
            }
          }
        }
      }
      &__right-menu {
        .full-screen {
        }
        .notifications {
          .notification-icon {
            .notifications__counter {
            }
          }
        }
        .wishList__menu {
          left: 0;
        }
      }
    }
  }

  // Responsive function for mobile phone device
  @include respond(phone) {
    .header-section {
      &__top-bar-container {
        border-bottom: 1px solid lighten($light-gray-color, 10%);
      }
      &__top-bar {
        img {
        }
        span {
        }
        i {
        }
      }
      &__left-menu {
        li {
          a {
            &:first-child {
            }
            i {
            }
            .dropdown-icon {
            }
          }
        }
        .mega-menu-container {
          position: inherit;
          .mega-menu {
            width: 100%;
            &__main-nav {
              li {
                a {
                  &.active {
                    i {
                    }
                  }
                  i {
                  }
                  label {
                  }
                  .sub-nav {
                    position: absolute;
                    left: 15rem;
                    top: 0;
                    width: calc(100% - 15rem);
                    padding: 1rem;
                    overflow: auto;
                    height: 100%;
                    &__header-title {
                      h3 {
                      }
                    }
                    ul {
                      li {
                        a {
                          width: 100%;
                          padding: 0.6rem 0;
                          i {
                          }
                          &:hover, &:hover > i {
                          }
                        }
                      }
                    }
                  }
                }
                &:first-child {
                  a {
                  }
                }
              }
            }
          }
        }
      }
      &__right-menu {
        text-align: center;
        .full-screen {
          display: none;
        }
        .notifications {
          position: inherit;
          .notification-icon {
            position: relative;
            .notifications__counter {
              right: -0.8rem;
              top: -0.4rem;
            }
          }
        }
        .wishList__menu {
          left: 0;
        }
      }
    }
  }
}

.opacity-0 {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  transform: translateY(-2em);
  z-index: -1;
}

.opacity-0.opacity-1 {
  opacity: 1;
  visibility: visible;
  z-index: 9;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.2s;
}
