// -----------------------------------------------------------------------------------------------
// ================================ Admin permanent info scss =========================
// -----------------------------------------------------------------------------------------------
.permanent-info-container {
  .with-button-container {
    background-color: lighten($light-gray-color, 20%);
  }
  .table-container {
    .grid_select_100rem {
      .mat-form-field-infix {
        width: 10rem !important;
      }
    }
    .grid_select_5rem {
      .mat-form-field-infix {
        width: 5rem !important;
      }
    }
  }
}
