<!-- Start View history modal -->
<div class="modal large-modal history-modal">
  <div class="modal__header">
    <div class="modal__header__logo">VIEW HISTORY</div>

    <div class="modal__header__datepicker">
      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <input matInput placeholder="Start date" [matDatepicker]="startDateRef" (mousedown)="startDateRef.open()"
                   [(ngModel)]="startDateValue" readonly (dateChange)="onChangeDate()" [max]="endDateValue"/>
            <mat-datepicker-toggle matSuffix [for]="startDateRef"></mat-datepicker-toggle>
            <mat-datepicker #startDateRef></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field>
            <input matInput placeholder="End date" [matDatepicker]="endDateRef" (mousedown)="endDateRef.open()"
                   [(ngModel)]="endDateValue" readonly (dateChange)="onChangeDate()" [min]="startDateValue"/>
            <mat-datepicker-toggle matSuffix [for]="endDateRef"></mat-datepicker-toggle>
            <mat-datepicker #endDateRef></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>

  </div>

  <div class="modal__close">
    <a><i class="material-icons" (click)="onClose()">close</i></a>
  </div>

  <div class="modal__body">
    <ul class="view-history-container">
      <li *ngFor="let history of historyList">
        <a>
          <div class="profile-icon">
            <img src="assets/images/profile_placeholder.png" width="28" height="28" alt=""/>
          </div>
          <div class="history-details">
            <div>
              <h3>Updated By <span>{{history?.modified_by?.userfullname}}</span></h3>
              <div class="history-time">
                <i class="material-icons">query_builder</i>
                <span>{{history?.modified_on | date : 'dd-MM-yyyy HH:mm:ss'}}</span>
              </div>
            </div>
            <div class="clearfix"></div>
            <ul class="history-content" *ngFor="let changes of history.changesList; let i=index">
              <li *ngIf="formatType == 0">
                <div><i class="material-icons">done_all</i>
                  <span *ngIf="history.changesList[i].display_name" class="fw-500">{{history.changesList[i].display_name}}</span>
                  <span *ngIf="history.changesList[i].old_value">| Before : {{history.changesList[i].old_value}} </span>
                  <span *ngIf="history.changesList[i].new_value">| Now : {{history.changesList[i].new_value}}</span>
                </div>
              </li>
              <li *ngIf="formatType == 1">
                <div><i class="material-icons">done_all</i>
                  <span *ngIf="history.changesList[i].checklist"
                        class="fw-500">{{history.changesList[i].checklist}}</span>
                  <span *ngIf="history.changesList[i].before">| Before : {{history.changesList[i].before}} </span>
                  <span *ngIf="history.changesList[i].now">| Now : {{history.changesList[i].now}}</span>
                </div>
              </li>
            </ul>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <mat-paginator [length]="totalRecords"
                 [pageSize]="pageSize"
                 [pageIndex]="pageIndex"
                 [pageSizeOptions]="pageArray"
                 (page)="onClientHistoryListPageChange($event)">
  </mat-paginator>
</div>
<div class="modal-layer" (click)="onClose()"></div>
<!-- End View history modal -->
