<!-- Worksheet master checklist Container -->
<!-- Start Data Grid -->
<div class="with-filter-grid-container">
  <!-- Start Grid Inner Header -->
  <div class="grid-inner-header">
    <div class="row">
      <div class="col-md-6 inner-header-title">
        <button class="open-dialog-btn" (click)="openAddEditMasterChecklistDialog()"><i class="material-icons">add</i>
          Add Master Checklist
        </button>
      </div>
      <div class="col-md-6">
        <ul class="download-icon">
          <li>
            <a (click)="onOpenFilter()">
              <span>Filter</span> <i class="material-icons">filter_list</i>
            </a>
          </li>

          <li (click)="downloadExcel()">
            <a>
              <span>Excel</span> <i class="material-icons">file_download</i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- End Grid Inner Header -->

  <!-- Start Grid Filter -->
  <div class="filter opacity-0" [ngClass]="{'opacity-1':isOpenFilter}">
    <div class="filter-action-icon">
          <span class="filter-close" *ngIf="isOpenFilter" (click)="onCloseFilter()">Esc <i
            class="material-icons">close</i></span>
    </div>
    <div class="grid-filter-container">
      <div class="filter-title">
        <h3>Advance Filter</h3>
      </div>
      <form [formGroup]="filterForm" (submit)="setAdvanceFilter(filterForm)">
        <div class="row">
          <div class="col-md-4">
            <mat-form-field>
              <input matInput placeholder="Checklist name" formControlName="name"/>
            </mat-form-field>
          </div>

          <div class="col-md-4">
            <ng-select [items]="masterActivityData"
                       [closeOnSelect]="true"
                       bindLabel="name"
                       placeholder="Master Activity"
                       bindValue="id"
                       [virtualScroll]="true"
                       [searchable]="true"
                       [hideSelected]="true"
                       (change)="getTaskData($event)"
                       formControlName="master_activity_id">
            </ng-select>
          </div>

          <div class="col-md-4">
            <ng-select [items]="taskDataMain"
                       [closeOnSelect]="true"
                       bindLabel="name"
                       placeholder="Task Name"
                       bindValue="id"
                       [virtualScroll]="true"
                       [searchable]="true"
                       [hideSelected]="true"
                       formControlName="task_id">
            </ng-select>
          </div>

          <div class="col-md-4 MT-10">
            <mat-form-field>
              <mat-select placeholder="Status" formControlName="is_active">
                <mat-option *ngFor="let active of activeInactiveList.slice(1)" [value]="active?.key">
                  {{ active.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-md-4 MT-10">
            <mat-form-field>
              <input matInput [matDatepicker]="createddate" placeholder="Created date" formControlName="created_on">
              <mat-datepicker-toggle matSuffix [for]="createddate"></mat-datepicker-toggle>
              <mat-datepicker #createddate></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="col-md-4 MT-10">

            <ng-select [items]="userList"
                       [closeOnSelect]="true"
                       bindLabel="userfullname"
                       placeholder="Created By"
                       bindValue="id"
                       [virtualScroll]="true"
                       [searchable]="true"
                       [hideSelected]="true"
                       formControlName="created_by">
            </ng-select>
          </div>

          <div class="col-md-12 MT-20 text-right">
            <button type="button" class="btn-cancel" (click)="onClearTags()">Clear</button>
            <button type="submit" class="btn-primary">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- End Grid Filter -->

  <!-- Start Filter Tags -->
  <div class="filter-tags">
    <form [formGroup]="advanceFilterForm">
      <div class="tag" *ngIf="name.value">
        <span class="tag__title">Master Checklist :</span>
        <span>
           <mat-form-field>
                <input matInput placeholder="Checklist name" formControlName="name"
                       (change)="setAdvanceFilterKeyUp($event, advanceFilterForm, true)"/>
              </mat-form-field>
          </span>
        <i class="material-icons tag__close" (click)="onClearTag('name')">close</i>
      </div>

      <div class="tag" *ngIf="master_activity_id.value">
        <span class="tag__title">Master Activity :</span>
        <span>
            <ng-select [items]="masterActivityData"
                       [closeOnSelect]="true"
                       bindLabel="name"
                       placeholder="Master Activity"
                       bindValue="id"
                       [virtualScroll]="true"
                       [searchable]="true"
                       [hideSelected]="true"
                       (change)="setAdvanceFilterKeyUp($event, advanceFilterForm, true); getTaskData($event)"
                       formControlName="master_activity_id">
              </ng-select>
          </span>
        <i class="material-icons tag__close" (click)="onClearTag('master_activity_id')">close</i>
      </div>

      <div class="tag" *ngIf="task_id.value">
        <span class="tag__title">Task :</span>
        <span>
            <ng-select [items]="taskDataMain"
                       [closeOnSelect]="true"
                       bindLabel="name"
                       placeholder="Task Name"
                       bindValue="id"
                       [virtualScroll]="true"
                       [searchable]="true"
                       [hideSelected]="true"
                       (change)="setAdvanceFilterKeyUp($event, advanceFilterForm, true);"
                       formControlName="task_id">
              </ng-select>
          </span>
        <i class="material-icons tag__close" (click)="onClearTag('task_id')">close</i>
      </div>

      <div class="tag" *ngIf="is_active.value">
        <span class="tag__title">Status :</span>
        <span>
             <mat-form-field>
               <mat-select placeholder="Status" formControlName="is_active">
                  <mat-option *ngFor="let active of activeInactiveList.slice(1)" [value]="active?.key"
                              (selectionChange)="setAdvanceFilterKeyUp($event, advanceFilterForm, true)">
                    {{ active.label }}
                  </mat-option>
                </mat-select>
            </mat-form-field>
          </span>
        <i class="material-icons tag__close" (click)="onClearTag('is_active')">close</i>
      </div>

      <div class="tag" *ngIf="created_on.value">
        <span class="tag__title">Created On:</span>
        <span>
              <mat-form-field>
                <input matInput [matDatepicker]="createdby1" placeholder="Date" formControlName="created_on"
                       (change)="setAdvanceFilterKeyUp($event, advanceFilterForm, true)">
                <mat-datepicker-toggle matSuffix [for]="createdby1"></mat-datepicker-toggle>
                <mat-datepicker #createdby1></mat-datepicker>
              </mat-form-field>
          </span>
        <i class="material-icons tag__close" (click)="onClearTag('created_on')">close</i>
      </div>

      <div class="tag" *ngIf="created_by.value">
        <span class="tag__title">Created By : </span>
        <span>

              <ng-select [items]="userList"
                         [closeOnSelect]="true"
                         bindLabel="userfullname"
                         placeholder="Created By"
                         bindValue="id"
                         [virtualScroll]="true"
                         [searchable]="true"
                         [hideSelected]="true"
                         formControlName="created_by">
   </ng-select>
          </span>
        <i class="material-icons tag__close" (click)="onClearTag('created_by')">close</i>
      </div>

      <!-- name.value
      || master_activity_id.value
      || task_id.value
      || is_active.value
      || created_on.value
      || created_by.value -->

      <div class="clearAll-tags" *ngIf="name.value
        || master_activity_id.value
        || task_id.value
        || is_active.value
        || created_on.value
        || created_by.value">
        <a (click)="onClearTags()">Clear all</a>
      </div>
    </form>
  </div>
  <!-- End Filter Tags -->

  <!-- Start Table -->
  <div class="table-container">
    <div class="table-block">
      <table>
        <thead>
        <tr>
          <th width="5%">Sr. No</th>

          <th width="25%" (click)="getSortData('name',
            (sortBy === 'name') ? (sortOrder === 'asc' ? 'desc' : 'asc') : 'asc')">Master Checklist
            <i *ngIf="sortBy === 'name'" [ngClass]="{'material-icons': true,
                'active' : (sortBy === 'name'),
                 'icon-up' : ((sortBy === 'name') && (sortOrder === 'asc')),
                 'icon-down' : true}">
              {{(sortBy === 'name') ? ((sortOrder === 'asc') ? 'arrow_upward':'arrow_downward') : 'arrow_downward'}}
            </i>
          </th>


          <th width="12%" (click)="getSortData('master_activity_id',
            (sortBy === 'master_activity_id') ? (sortOrder === 'asc' ? 'desc' : 'asc') : 'asc')">Master Activity
            <i *ngIf="sortBy === 'master_activity_id'" [ngClass]="{'material-icons': true,
                'active' : (sortBy === 'master_activity_id'),
                 'icon-up' : ((sortBy === 'master_activity_id') && (sortOrder === 'asc')),
                 'icon-down' : true}">
              {{(sortBy === 'master_activity_id') ? ((sortOrder === 'asc') ? 'arrow_upward':'arrow_downward') :
              'arrow_downward'}}
            </i>
          </th>


          <th width="25%" (click)="getSortData('task_id',
            (sortBy === 'task_id') ? (sortOrder === 'asc' ? 'desc' : 'asc') : 'asc')">Task
            <i *ngIf="sortBy === 'task_id'" [ngClass]="{'material-icons': true,
                'active' : (sortBy === 'task_id'),
                 'icon-up' : ((sortBy === 'task_id') && (sortOrder === 'asc')),
                 'icon-down' : true}">
              {{(sortBy === 'task_id') ? ((sortOrder === 'asc') ? 'arrow_upward':'arrow_downward') : 'arrow_downward'}}
            </i>
          </th>

          <th width="25%" (click)="getSortData('created_by',
            (sortBy === 'created_by') ? (sortOrder === 'asc' ? 'desc' : 'asc') : 'asc')">Created By
            <i *ngIf="sortBy === 'created_by'" [ngClass]="{'material-icons': true,
                'active' : (sortBy === 'created_by'),
                 'icon-up' : ((sortBy === 'created_by') && (sortOrder === 'asc')),
                 'icon-down' : true}">
              {{(sortBy === 'created_by') ? ((sortOrder === 'asc') ? 'arrow_upward':'arrow_downward') :
              'arrow_downward'}}
            </i>
          </th>

          <th width="8%">Action</th>
        </tr>
        </thead>
      </table>

      <div class="table-body">
        <table>
          <tbody>
          <tr *ngFor="let data of masterCheckList; let i = index">
            <td width="5%">{{+pageSize * (pageIndex) + i + 1}}</td>
            <td width="25%">{{data?.name}}</td>
            <td width="12%">
              <mat-icon class="grid_icon_trip_origin turquoise-color">trip_origin</mat-icon>
              {{data?.master_activity_id?.name}}
            </td>
            <td width="25%">{{data?.task_id?.name}}</td>
            <td width="25%">{{data?.created_by?.userfullname}} | {{data?.created_on | date : 'dd-MM-yyyy'}}</td>
            <td width="8%">
              <mat-icon class="light-orange-color" [matTooltip]="'Edit'"
                        (click)="openAddEditMasterChecklistDialog(data)">edit
              </mat-icon>
              <mat-slide-toggle [matTooltip]="slideData[i] ? 'Inactive' : 'Active'" [(ngModel)]="slideData[i]"
                                (click)="openToggleConfirmationDialog($event, data, i)"></mat-slide-toggle>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <table *ngIf="masterCheckList.length">
        <tfoot>
        <tr>
          <td colspan="10">
            <mat-paginator [length]="totalRecords"
                           [pageSize]="pageSize"
                           [pageIndex]="pageIndex"
                           [pageSizeOptions]="pageArray"
                           (page)="onPageChange($event)">
            </mat-paginator>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <!-- End Table -->
  <div *ngIf="!masterCheckList.length" class="panel-title red-color">
    No Records Found!
  </div>
</div>
<!-- End Data Grid -->
