<!--  Start Rename dialog  -->
<div class="modal">
  <div class="modal__header">
    <div class="modal__header__logo" *ngIf="typeOfForm === 0">Rename Folder</div>
    <div class="modal__header__logo" *ngIf="typeOfForm === 1">Rename File</div>
  </div>

  <div class="modal__close">
    <a>
      <mat-icon class="material-icons" (click)="onClose(false)">close</mat-icon>
    </a>
  </div>

  <form [formGroup]="createrenameForm" *ngIf="typeOfForm === 0" (submit)="onSubmit(createrenameForm)">
    <div class="modal__body">
      <div class="row">
        <div class="col-md-12">
          <mat-form-field>
            <input matInput placeholder="Rename Folder" type="text"
                   formControlName="folder_name">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="modal__footer">
      <div class="text-right row">
        <div class="col-md-12 PR-25">
          <button class="btn-primary" [disabled]="createrenameForm.invalid">Save</button>
        </div>
      </div>
    </div>
  </form>

  <form [formGroup]="createrenameForm" *ngIf="typeOfForm === 1" (submit)="onSubmit(createrenameForm)">
    <div class="modal__body">
      <div class="row">
        <div class="col-md-12">
          <mat-form-field>
            <input matInput placeholder="Rename File" type="text"
                   formControlName="file_name">
          </mat-form-field>
          <div class="validation-msg">
            <app-validation *ngIf="isRequiredField(createrenameForm.get('file_name'))"
                            [errMsg]="validationMsg.CLIENT_FILE_REQUIRED"></app-validation>
            <app-validation *ngIf="isValidLength(createrenameForm.get('file_name'))"
                            [errMsg]="validationMsg.CLIENT_FILE_LENGTH"></app-validation>
          </div>
        </div>
        <div class="col-md-12 MT-15">
          <mat-form-field>
            <mat-select placeholder="FileType" formControlName="file_type" disableControl="true">
              <mat-option *ngFor="let fileType of fileTypeList; let i = index" [value]="fileType?.mimeType">
                {{fileType?.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="modal__footer">
      <div class="text-right row">
        <div class="col-md-12 PR-25">
          <button class="btn-primary" [disabled]="createrenameForm.invalid">Save</button>
        </div>
      </div>
    </div>
  </form>

</div>
<!--  End reate Folderdialog  -->
