<!-- HRMS NEW DASHBOARD -->
<div class="admin-hrms-new-dashboard-container">
  <div class="row PLR-0">
    <mat-toolbar class="aside-toolbar">
     <!-- <button mat-icon-button (click)="isExpanded = !isExpanded">
        <mat-icon>menu_open</mat-icon>
      </button>-->
      <h2 class="ML-5">Welcome back <span class="primary-color">{{userData?.userfullname}}</span> !!</h2>
    </mat-toolbar>
    <mat-sidenav-container class="example-container" autosize>
      <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()"
                   (mouseleave)="mouseleave()">
        <mat-nav-list>
        <span *ngFor="let item of menu">
          <span *ngIf="item.children && item.children.length > 0">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <div fxLayout="row" fxLayoutAlign="space-between center" >
                      <mat-icon class="v-align-middle">{{item.iconName}}</mat-icon>
                      {{item.displayName}}
                    </div>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <span *ngFor="let child of item.children">
                  <mat-list-item routerLink="{{child.route}}">
                    <!-- Entradas de cada submenú  -->
                    <div fxLayout="row" fxLayoutAlign="space-between center" >
                      <mat-icon class="v-align-middle">{{child.iconName}}</mat-icon>
                      {{child.displayName}}
                    </div>
                  </mat-list-item>
                </span>
              </mat-expansion-panel>
            </mat-accordion>
          </span>
          <span *ngIf="!item.children || item.children.length === 0">
            <mat-list-item routerLink="{{item.route}}">
              <!-- Entradas principales -->
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <mat-icon class="v-align-middle">{{item.iconName}}</mat-icon>
                {{item.displayName}}
              </div>
            </mat-list-item>
          </span>
        </span>
        </mat-nav-list>
       <!-- <mat-nav-list>
          <mat-list-item (click)="onHRMSNewDashboard()">
            <span class="full-width">Home</span>
            <mat-icon mat-list-icon>dashboard</mat-icon>
          </mat-list-item>
          <mat-list-item (click)="onMyProfile()">
            <span class="full-width">My Profile</span>
            <mat-icon mat-list-icon>person_outline</mat-icon>
          </mat-list-item>
          <mat-list-item (click)="onLeaveTrackers()">
            <span class="full-width">Leave Trackers</span>
            <mat-icon mat-list-icon>home</mat-icon>
          </mat-list-item>
          <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
            <span class="full-width" *ngIf="isExpanded || isShowing">Leave Tracker</span>
            <mat-icon mat-list-icon>calendar_view_month</mat-icon>
            <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">
              expand_more
            </mat-icon>
          </mat-list-item>
          <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
            <a mat-list-item (click)="onApplyLeave()">Apply Leave</a>
            <a mat-list-item (click)="onLeaveListing()">Leave Listing</a>
          </div>
          <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
            <span class="full-width" *ngIf="isExpanded || isShowing">Holiday Listing</span>
            <mat-icon mat-list-icon>grid_on</mat-icon>
            <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">
              expand_more
            </mat-icon>
          </mat-list-item>
          <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
            <a mat-list-item (click)="onHolidayApplyLeave()">Apply Holiday Working Leave</a>
            <a mat-list-item (click)="onHolidayLeaveListing()">Holiday Working Listing</a>
          </div>
        </mat-nav-list>
        <mat-nav-list>
        </mat-nav-list>-->
      </mat-sidenav>

      <div class="example-sidenav-content">
        <router-outlet (activate)="onActivate()" *ngIf="hasRoute('admin-hrms-new')"></router-outlet>
      </div>
    </mat-sidenav-container>
  </div>
</div>
