<!--Start Client Discontinue form Dialog-->
<div>
  <div class="modal__header">
    <div class="modal__header__logo">Client Discontinue</div>
  </div>

  <div class="modal__close">
    <a>
      <mat-icon class="material-icons" (click)="onClose()">close</mat-icon>
    </a>
  </div>
  <form [formGroup]="addClientDiscontinueForm" (submit)="onSumbitDiscontinueEntity(addClientDiscontinueForm)">
    <div class="modal__body">
      <div class="row MT-10">
        <div class="col-md-12">
          <ng-select [items]="clientList"
                     [closeOnSelect]="true"
                     bindLabel="trading_name"
                     placeholder="Trading name"
                     bindValue="id"
                     [virtualScroll]="true"
                     [searchable]="true"
                     [hideSelected]="true"
                     formControlName="entity_id"
                     (change)="getEntityTicketCounter($event)">
          </ng-select>

          <div class="validation-msg">
            <app-validation *ngIf="isRequiredField(addClientDiscontinueForm.get('entity_id'))"
                            [errMsg]="validationMsg.TRADING_NAME_REQUIRED"></app-validation>
          </div>
        </div>

        <div class="col-md-12 MT-10">
          <mat-form-field>
            <mat-select formControlName="problem_our_side" placeholder="Problem from our side" required>
              <mat-option *ngFor="let option of YesNo.slice(1)" [value]="option?.key">
                {{option?.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="validation-msg">
            <app-validation *ngIf="isRequiredField(addClientDiscontinueForm.get('problem_our_side'))"
                            [errMsg]="validationMsg.PROBLEM_FROM_OUR_SIDE_REQUIRED"></app-validation>
          </div>
        </div>

        <div class="col-md-12 MT-10">
          <mat-form-field>
            <textarea matInput placeholder="Discontinue reason (IND office)"
                      formControlName="discontinue_comment"></textarea>
          </mat-form-field>
          <div class="validation-msg">
            <app-validation *ngIf="isRequiredField(addClientDiscontinueForm.get('discontinue_comment'))"
                            [errMsg]="validationMsg.DISCONTINUE_REASON_REQUIRED"></app-validation>
          </div>
        </div>

        <div class="col-md-12 MT-10">
          <mat-form-field>
            <input matInput placeholder="Tickets from our side" value="{{ticketCounter}}" formControlName="ticket"
                   readonly/>
          </mat-form-field>
        </div>

      </div>
    </div>

    <div class="modal__footer">
      <div class="text-right row">
        <div class="col-md-12 PR-25">
          <!--<button type="button" class="btn-default MR-10">Cancel</button>-->
          <button type="submit" class="btn-primary" [disabled]="addClientDiscontinueForm.invalid">Discontinue</button>
        </div>
      </div>
    </div>
  </form>
</div>
