<div class="holiday-list-out-container">
  <!-- Start BreadCrumb Top Header -->
  <div class="breadcrumb-top-header">
    <div class="row">
      <div class="col-md-12 PL-0">
        <div class="breadcrumb-top-header__breadcrumbs">
          <mat-icon class="material-icons cursor-pointer"><a (click)="onGoDashboard()">home</a></mat-icon>
          <mat-icon>keyboard_arrow_right</mat-icon>
          <span>HRMS</span>
          <mat-icon>keyboard_arrow_right</mat-icon>
          <span class="active">HOLIDAY MASTER</span>
        </div>
      </div>
    </div>
  </div>
  <!-- End BreadCrumb Top Header -->

  <!-- Start Data Grid -->
  <div class="with-filter-grid-container">
    <!-- Start Grid Inner Header -->
    <div class="grid-inner-header">
      <div class="row">
        <div class="col-md-6 inner-header-title">
          <button class="open-dialog-btn" (click)="onAddEditHolidayListDialog()">
            <mat-icon class="material-icons">add</mat-icon>
            Add Holiday
          </button>
        </div>
        <div class="col-md-6">
          <ul class="download-icon">
            <li class="primary-color">
              <a class="download-icon" (click)="onUploadCSVDialog()">
                <i class="material-icons">cloud_upload</i> <span class="fw-500"> Upload CSV</span> </a>
            </li>
            <li>
              <a (click)="onOpenFilter()">
                <span>Filter</span>
                <mat-icon class="material-icons">filter_list</mat-icon>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End Grid Inner Header -->

    <!-- Start Grid Filter -->
    <div class="filter opacity-0" [ngClass]="{'opacity-1':isOpenFilter}">
      <div class="filter-action-icon">
        <span class="filter-close" *ngIf="isOpenFilter" (click)="onCloseFilter()">Esc <mat-icon
          class="material-icons">close</mat-icon></span>
      </div>
      <div class="grid-filter-container">
        <div class="filter-title">
          <h3>Advance Filter</h3>
        </div>
        <form [formGroup]="holidayMasterFilterForm" (submit)="setAdvanceFilter(holidayMasterFilterForm)">
          <div class="row">
            <div class="col-md-3 MT-10">
              <mat-form-field>
                <mat-select placeholder="Year" formControlName="year">
                  <mat-option *ngFor="let year of yearList" [value]="year.value">{{year.key}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-3 MT-10">
              <mat-form-field>
                <input matInput [matDatepicker]="holidaydate" placeholder="Holiday Date" formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="holidaydate"></mat-datepicker-toggle>
                <mat-datepicker #holidaydate></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-3 MT-10">
              <mat-form-field>
                <mat-select placeholder="Holiday display to client dashboard?" formControlName="is_client">
                  <mat-option *ngFor="let yesNo of yesNoDropDown.slice(1)" [value]="yesNo?.key">
                    {{ yesNo?.label}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-3 MT-10">
              <button type="button" class="btn-cancel" (click)="resetFilterForm()">Clear</button>
              <button type="submit" class="btn-primary">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- End Grid Filter -->

    <!-- Start Filter Tags -->
    <div class="filter-tags">
      <form [formGroup]="filterHolidayMasterForm">
        <div class="tag" *ngIf="yearField.value">
          <span class="tag__title">Year:</span>
          <span>
              <mat-form-field>
                <mat-select placeholder="Year" formControlName="year"
                            (selectionChange)="setAdvanceFilterKeyUp($event, filterHolidayMasterForm, true)">
                  <mat-option *ngFor="let yr of yearList" [value]="yr['key']">
                    {{'January - '+yr['key']+' To December - '+yr['key']}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </span>
          <mat-icon class="material-icons tag__close" (click)="onClearTag('year')">close</mat-icon>
        </div>
        <div class="tag" *ngIf="dateField.value">
          <span class="tag__title">Holiday Date:</span>
          <span>
              <mat-form-field>
                <input matInput [matDatepicker]="date" placeholder="Date" #dateRef formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="date"
                                       (dateChange)="setAdvanceFilterKeyUp($event, filterHolidayMasterForm, true)"></mat-datepicker-toggle>
                <mat-datepicker #date></mat-datepicker>
              </mat-form-field>
            </span>
          <mat-icon class="material-icons tag__close" (click)="onClearTag('date')">close</mat-icon>
        </div>
        <div class="tag" *ngIf="(isClientField.value >=0 && isClientField.value !== null)">
          <span class="tag__title">Holiday display to client dashboard:</span>
          <span>
            <mat-form-field>
              <mat-select placeholder="Holiday display to client dashboard?" formControlName="is_client"
                          (selectionChange)="setAdvanceFilterKeyUp($event, filterHolidayMasterForm, true)">
              <mat-option *ngFor="let yesNo of yesNoDropDown.slice(1)" [value]="yesNo?.key">
                {{ yesNo?.label}}
              </mat-option>
            </mat-select>
              </mat-form-field>
          </span>
          <mat-icon class="material-icons tag__close" (click)="onClearTag('is_client')">close</mat-icon>
        </div>
        <div class="clearAll-tags" *ngIf="yearField.value || dateField.value || (isClientField.value >=0 && isClientField.value !== null)">
          <a (click)="resetFilterForm()">Clear all</a>
        </div>
      </form>
    </div>
    <!-- End Filter Tags -->

    <!-- Start Table -->
    <div class="table-container">
      <div class="table-block">
        <table>
          <thead>
          <tr>
            <th width="5%">Sr. No</th>

            <th width="15%">Holiday Date
            </th>

            <th width="15%">Year
            </th>

            <th width="40%">Description</th>
            <th width="15%">Holiday display <br>to client dashboard?</th>
            <th width="10%">Action</th>
          </tr>
          </thead>
        </table>

        <div class="table-body">
          <table>
            <tbody>
            <tr *ngFor="let holidaymaster of holidayMaster; let i = index">
              <td width="5%">{{+pageSize * (pageIndex) + i + 1}}</td>
              <td width="15%">{{holidaymaster?.date | date : 'dd-MM-yyyy'}}</td>
              <td width="15%">{{holidaymaster?.year}}</td>
              <td width="40%" class="word-break">{{holidaymaster?.description}}</td>
              <td width="15%" class="word-break">{{holidaymaster?.is_client === 1 ? 'Yes': 'No'}}</td>
              <td width="10%">
                <mat-icon class="light-orange-color" [matTooltip]="'Edit'"
                          (click)="onAddEditHolidayListDialog(holidaymaster)">
                  edit
                </mat-icon>
                <mat-icon class="red-color" [matTooltip]="'Delete'" (click)="onDeleteHolidayListDialog(holidaymaster)">
                  delete
                </mat-icon>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <table *ngIf="holidayMaster.length">
          <tfoot>
          <tr>
            <td colspan="10">
              <mat-paginator [length]="totalRecords"
                             [pageSize]="pageSize"
                             [pageIndex]="pageIndex"
                             [pageSizeOptions]="pageArray"
                             (page)="onPageChange($event)">
              </mat-paginator>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <!-- End Table -->
    <div *ngIf="!holidayMaster.length" class="panel-title red-color">
      No Records Found!
    </div>
  </div>
  <!-- End Data Grid -->
</div>
