<div class="holiday-list-out-container">
  <!-- Start BreadCrumb Top Header -->
  <div class="breadcrumb-top-header">
    <div class="row">
      <div class="col-md-12 PL-0">
        <div class="breadcrumb-top-header__breadcrumbs">
          <mat-icon class="material-icons cursor-pointer"><a (click)="onGoDashboard()">home</a></mat-icon>
          <mat-icon>keyboard_arrow_right</mat-icon>
          <span>HRMS</span>
          <mat-icon>keyboard_arrow_right</mat-icon>
          <span class="active">HOLIDAY WORKING</span>
        </div>
      </div>
    </div>
  </div>
  <div class="with-filter-grid-container">
    <!-- Start Grid Inner Header -->
    <div class="grid-inner-header">
      <div class="row">
        <div class="col-md-6 inner-header-title">
          <button class="open-dialog-btn MB-10" (click)="onApplyHolidayWorkingLeave()">
            <mat-icon class="material-icons">add</mat-icon>
            Apply Holiday Working
          </button>
        </div>
        <div class="col-md-6">
          <ul class="download-icon">
            <li>
              <a (click)="downloadExcel()">
                <span>Excel</span>
                <mat-icon>file_download</mat-icon>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <form [formGroup]="filterForm" (submit)="setAdvanceFilter(filterForm)">
        <div class="row">
          <div class="col-md-4">
            <ng-select [items]="userList"
                       [closeOnSelect]="true"
                       bindLabel="userfullname"
                       placeholder="Employee Name"
                       bindValue="id"
                       [virtualScroll]="true"
                       [searchable]="true"
                       [hideSelected]="true"
                       formControlName="user_id"
                       (change)="setAdvanceFilter(filterForm)">
            </ng-select>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <input matInput formControlName="date" [matDatepicker]="dueDateFrom"
                     placeholder="Holiday's Date" (dateChange)="setAdvanceFilter(filterForm)">
              <mat-datepicker-toggle matSuffix [for]="dueDateFrom"></mat-datepicker-toggle>
              <mat-datepicker #dueDateFrom></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <ng-select [items]="hrStatus"
                       [closeOnSelect]="true"
                       bindLabel="label"
                       placeholder="Status"
                       bindValue="key"
                       [virtualScroll]="true"
                       [searchable]="true"
                       [hideSelected]="true"
                       formControlName="status_id"
                       (change)="setAdvanceFilter(filterForm)">
            </ng-select>
          </div>
        </div>
      </form>
    </div>
    <!-- End Grid Inner Header -->

    <!-- Start Table -->
    <div class="table-container">
      <div class="table-block">
        <table>
          <thead>
          <tr>
            <th width="5%">Sr. No</th>
            <th width="10%">Employee Name</th>
            <th width="10%">Holiday's Date</th>
            <th width="10%">Estimated Arrival Time</th>
            <th width="10%">Estimated Departure Time</th>
            <th width="15%">Name of client whose work is pending</th>
            <th width="15%">Reason for Holiday Working</th>
            <th width="10%">Approval</th>
            <th width="10%">Status</th>
            <th width="5%">Action</th>
          </tr>
          </thead>
        </table>

        <div class="table-body">
          <table>
            <tbody>
            <tr *ngFor="let holidayWorking of holidayWorkingList; let i = index">
              <td width="5%">{{+pageSize * (pageIndex) + i + 1}}</td>
              <td width="10%">{{holidayWorking?.created_by?.userfullname}}
              </td>
              <td width="10%">{{holidayWorking?.date | date : 'dd-MM-yyyy'}}</td>
              <td width="10%">{{holidayWorking?.start_time}}</td>
              <td width="10%">{{holidayWorking?.end_time}}</td>
              <td width="15%">{{holidayWorking?.trading_name}}</td>
              <td width="15%">{{holidayWorking?.notes}}</td>
              <td width="10%">
                <div>
                  <div class="approval-name user-approved-request-details">
                    <span *ngIf="holidayWorking?.first_approval != null && holidayWorking?.first_approval?.id !== 0"
                          class="{{holidayWorking?.status_id === 2 ? 'orange-color' : holidayWorking?.status_id === 3 ? '' : holidayWorking?.status_id === 4 ? 'green-color' : holidayWorking?.status_id === 5 ? 'green-color' : holidayWorking?.status_id === 6 ? 'red-color' : ''}}">
                    <img
                      matTooltip="{{holidayWorking?.first_approval?.userfullname}}{{(holidayWorking?.status_id === 4 ||holidayWorking?.status_id === 5) ? (holidayWorking?.first_approval_on | date : 'dd-MM-yyyy HH:mm:ss') : ''}}"
                      *ngIf="holidayWorking?.first_approval?.user_image"
                      src="{{url+holidayWorking?.first_approval?.user_image}}"/>
                    <img
                      matTooltip="{{holidayWorking?.first_approval?.userfullname}} {{(holidayWorking?.status_id === 4 ||holidayWorking?.status_id === 5) ? (holidayWorking?.first_approval_on | date : 'dd-MM-yyyy HH:mm:ss') : ''}}"
                      *ngIf="!holidayWorking?.first_approval?.user_image"
                      src="assets/images/profile_placeholder.png"/>
                    </span>
                    <span *ngIf="holidayWorking?.second_approval != null && holidayWorking?.second_approval?.id !== 0"
                          class="{{holidayWorking?.status_id === 4 ? '' :  holidayWorking?.status_id === 5 ? 'green-color' : holidayWorking?.status_id === 6 ? 'red-color' : ''}}">
                    <img
                      matTooltip="{{holidayWorking?.second_approval?.userfullname}} {{(holidayWorking?.status_id === 4 ||holidayWorking?.status_id === 5) ? (holidayWorking?.second_approval_on | date : 'dd-MM-yyyy HH:mm:ss') : ''}}"
                      *ngIf="holidayWorking?.second_approval?.user_image"
                      src="{{url+holidayWorking?.second_approval?.user_image}}"/>
                    <img
                      matTooltip="{{holidayWorking?.second_approval?.userfullname}} {{(holidayWorking?.status_id === 4 ||holidayWorking?.status_id === 5) ? (holidayWorking?.second_approval_on | date : 'dd-MM-yyyy HH:mm:ss') : ''}}"
                      *ngIf="!holidayWorking?.second_approval?.user_image"
                      src="assets/images/profile_placeholder.png"/>
                      </span>
                  </div>
                </div>
              </td>
              <td width="10%">
                <div *ngFor="let status of hrStatus">
                  <span *ngIf="status.key === holidayWorking?.status_id">{{status.label}}</span>
                </div>
              </td>
              <td width="10%">
                <mat-icon class="light-orange-color" (click)="onApproveHolidayWorkingListingDialog(holidayWorking)"
                          *ngIf="holidayWorking?.status_id === 2 && holidayWorking?.first_approval?.id === userInfo.id">
                  edit
                </mat-icon>
                <mat-icon class="light-orange-color" (click)="onApproveHolidayWorkingListingDialog(holidayWorking)"
                          *ngIf="holidayWorking?.status_id === 3 && holidayWorking?.first_approval?.id === userInfo.id">
                  edit
                </mat-icon>
                <mat-icon class="light-orange-color" (click)="onApproveHolidayWorkingListingDialog(holidayWorking)"
                          *ngIf="holidayWorking?.status_id === 4 && holidayWorking?.second_approval?.id === userInfo.id">
                  edit
                </mat-icon>
                <mat-icon class="light-orange-color" (click)="onApproveHolidayWorkingListingDialog(holidayWorking)"
                          *ngIf="(userInfo?.designation_id?.designation_id === 7 && (holidayWorking?.status_id === 4 || holidayWorking?.status_id === 3))">
                  edit
                </mat-icon>
                <mat-icon *ngIf="holidayWorking?.status_id <= 3 && holidayWorking?.user_id === userInfo.id" class="light-orange-color"
                          (click)="onDeleteHolidayWorking(holidayWorking)">delete
                </mat-icon>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <table>
          <tfoot>
          <tr>
            <td colspan="10">
              <mat-paginator [length]="totalRecords"
                             [pageSize]="pageSize"
                             [pageIndex]="pageIndex"
                             [pageSizeOptions]="pageArray"
                             (page)="onPageChange($event)">
              </mat-paginator>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>  <!-- End Table -->
</div>
