<div class="">
  <!-- Start BreadCrumb Top Header -->
  <div class="breadcrumb-top-header">
    <div class="row">
      <div class="col-md-6">
        <div class="breadcrumb-top-header__breadcrumbs">
          <mat-icon class="material-icons cursor-pointer"><a (click)="onGoDashboard()">home</a></mat-icon>

          <i class="material-icons">keyboard_arrow_right</i>
          <span>CLIENT</span>

          <i class="material-icons">keyboard_arrow_right</i>
          <span class="active">
            <a (click)="onContact()">CONTACT INFORMATION</a>
          </span>

          <i class="material-icons">keyboard_arrow_right</i>
          <span class="active">{{contact ? 'UPDATE CLIENT USER | ' : 'ADD CLIENT USER'}} {{contact?.trading_name}}</span>
        </div>
      </div>
    </div>
  </div>
  <!-- Over BreadCrumb Top Header -->

  <!--Start add contact form-->
  <div>
    <span class="panel-title orange-color">{{contact ? 'Update' : 'Add'}} Client User</span>
    <form [formGroup]="addContactForm" #addEditContactForm="ngForm" (submit)="onAddContact(addContactForm)">
      <div class="row">
        <!--<div class="col-md-4">-->
          <!--<ng-select [items]="parentClientList"-->
                     <!--[closeOnSelect]="true"-->
                     <!--bindLabel="trading_name"-->
                     <!--placeholder="Parent Trading Name"-->
                     <!--bindValue="id"-->
                     <!--[virtualScroll]="true"-->
                     <!--[searchable]="true"-->
                     <!--[hideSelected]="true"-->
                     <!--(change)="onChangeParentEntity($event)"-->
                     <!--formControlName="parent_id">-->
          <!--</ng-select>-->

          <!--<div class="validation-msg">-->
            <!--<app-validation *ngIf="isRequiredField(addContactForm.get('parent_id'))"-->
                            <!--[errMsg]="validationMsg.TRADING_NAME"></app-validation>-->
          <!--</div>-->
        <!--</div>-->
        <div class="col-md-4">
          <ng-select [items]="parentClientList"
                     [closeOnSelect]="true"
                     bindLabel="trading_name"
                     placeholder="Parent Trading Name"
                     bindValue="id"
                     [virtualScroll]="true"
                     [searchable]="true"
                     [hideSelected]="true"
                     formControlName="entity_id">
          </ng-select>

          <div class="validation-msg">
            <app-validation *ngIf="isRequiredField(addContactForm.get('entity_id'))"
                            [errMsg]="validationMsg.TRADING_NAME"></app-validation>
          </div>
        </div>
        <!--<div class="col-md-4">-->
          <!--<mat-form-field>-->
            <!--<mat-select [multiple]="true" placeholder="Service" formControlName="service_id" required>-->
              <!--<mat-option *ngFor="let team of teamList" [value]="team?.id">{{team?.service_name}}</mat-option>-->
            <!--</mat-select>-->
          <!--</mat-form-field>-->
          <!--<div class="validation-msg">-->
            <!--<app-validation *ngIf="isRequiredField(addContactForm.get('service_id'))"-->
                            <!--[errMsg]="validationMsg.SERVICE_REQUIRED"></app-validation>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-4">-->
          <!--<mat-form-field>-->
            <!--<mat-select placeholder="Position" formControlName="contact_position_id" required>-->
              <!--<mat-option *ngFor="let contactPositionData of contactPosition" [value]="contactPositionData.key">-->
                <!--{{contactPositionData.label}}-->
              <!--</mat-option>-->
            <!--</mat-select>-->
          <!--</mat-form-field>-->
          <!--<div class="validation-msg">-->
            <!--<app-validation *ngIf="isRequiredField(addContactForm.get('contact_position_id'))"-->
                            <!--[errMsg]="validationMsg.POSITION"></app-validation>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-4" *ngIf="addContactForm.get('contact_position_id').value && addContactForm.get('contact_position_id').value === 1">-->
          <!--<mat-form-field>-->
            <!--<input matInput type="number" placeholder="Director Number" formControlName="director_number"/>-->
          <!--</mat-form-field>-->
          <!--<div class="validation-msg">-->
          <!--</div>-->
        <!--</div>-->
        <div class="col-md-4 MT-5">
          <mat-form-field>
            <input matInput type="text" placeholder="First Name" formControlName="first_name" required/>
          </mat-form-field>
          <div class="validation-msg">
            <app-validation *ngIf="isRequiredField(addContactForm.get('first_name'))"
                            [errMsg]="validationMsg.FIRST_NAME"></app-validation>
            <app-validation *ngIf="isValidField(addContactForm.get('first_name'))"
                            [errMsg]="validationMsg.FIRST_NAME_VALID"></app-validation>
          </div>
        </div>

        <div class="col-md-4 MT-5">
          <mat-form-field>
            <input matInput type="text" placeholder="Last Name" formControlName="last_name" required/>
          </mat-form-field>
          <div class="validation-msg">
            <app-validation *ngIf="isRequiredField(addContactForm.get('last_name'))"
                            [errMsg]="validationMsg.LAST_NAME"></app-validation>
            <app-validation *ngIf="isValidField(addContactForm.get('last_name'))"
                            [errMsg]="validationMsg.LAST_NAME"></app-validation>
          </div>
        </div>

        <div class="col-md-4 MT-5">
          <mat-form-field>
            <input matInput type="text" placeholder="Email Address" formControlName="email" required/>
          </mat-form-field>
          <div class="validation-msg">
            <!-- <div *ngIf="!addContactForm.controls['to'].value"> -->
            <app-validation *ngIf="isRequiredField(addContactForm.get('email'))"
                            [errMsg]="validationMsg.EMAIL_ADDRESS"></app-validation>
            <!-- </div> -->
            <app-validation *ngIf="isValidField(addContactForm.get('email'))"
                            [errMsg]="validationMsg.EMAIL_ADDRESS"></app-validation>
          </div>
        </div>
        <div class="col-md-4 MT-5">
          <mat-form-field>
            <input matInput [max]="maxDateValue" [matDatepicker]="birthdayRef" placeholder="Birthdate"
                   formControlName="birthdate"/>
            <mat-datepicker-toggle matSuffix [for]="birthdayRef"></mat-datepicker-toggle>
            <mat-datepicker #birthdayRef disabled="false"></mat-datepicker>
          </mat-form-field>

          <div class="validation-msg">
            <app-validation *ngIf="isRequiredField(addContactForm.get('birthdate'))"
                            [errMsg]="validationMsg.BIRTHDATE"></app-validation>
          </div>
        </div>
        <div class="col-md-4 MT-5">
          <mat-form-field>
            <input matInput type="text" formControlName="mobile_no" placeholder="Mobile"/>
          </mat-form-field>
          <div class="validation-msg">
            <app-validation *ngIf="isValidField(addContactForm.get('mobile_no'))"
                            [errMsg]="validationMsg.MOBILE_NUMBER_VALID"></app-validation>
            <app-validation *ngIf="isValidLength(addContactForm.get('mobile_no'))"
                            [errMsg]="validationMsg.MOBILE_NUMBER_VALID_LENGTH"></app-validation>
          </div>
        </div>
        <div class="col-md-4 MT-5">
          <mat-form-field>
            <mat-select placeholder="Is Active?" formControlName="is_active" required>
              <mat-option *ngFor="let bkChecklistData of bkChecklist.slice(1)" [value]="bkChecklistData.key">
                {{bkChecklistData.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="validation-msg">
            <app-validation *ngIf="isRequiredField(addContactForm.get('is_active'))"
                            [errMsg]="validationMsg.IS_LOGIN_REQUIRED"></app-validation>
          </div>
        </div>
        <div class="col-md-12 MB-20">
          <div class="row MT-30">
            <div class="col-md-6 PL-0">
              <!--For edit contact only-->
              <!--<button [disabled]="addContactForm.invalid" type="submit" (click)="AddNewOptionsRedirect()"-->
                      <!--class="btn-orange btn-bordered">{{contact ? 'Update' : 'Add'}} & Add New-->
              <!--</button>-->
              <!--For edit contact only over-->
            </div>
            <div class="col-md-6 text-right PR-0">
              <button (click)="onContact()" type="button" class="btn-default MR-5">Cancel</button>
              <button [disabled]="addContactForm.invalid" type="submit" class="btn-primary">{{contact ? 'Update' :
                'Add'}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>

  </div>
  <!--Over add contact form-->
</div>
