<div class="row grid-search">
  <div class="add-one">
    <input placeholder="Search" type="text" [value]="filterText"
           [formControl]="filterInput">
    <span class="prefix">
                <i class="material-icons">search</i>
              </span>
  </div>
  <div class="clearfix"></div>
</div>
<div>
  <form (submit)="changePageRights()">
    <!-- Start Table -->
    <div class="table-container">
      <div class="table-block">
        <table>
          <thead>
          <tr>
            <th width="5%">Sr. No.</th>
            <th width="55%">
              Status
            </th>
            <th width="40%">
              <mat-checkbox [checked]="is_rightAll"  [disabled]="disableSelectAll"
                            (change)="assignPrivilegeToAll($event.checked,'right')"></mat-checkbox>
              Rights
            </th>
          </tr>
          </thead>
        </table>

        <div class="table-body">
          <table>
            <tbody>
            <tr *ngFor="let privilege of privileges | filter:{status_name: filterText} ; let i = index">
              <td width="5%">{{i+1}}</td>
              <td width="55%">{{privilege?.status_name}}</td>
              <td width="40%">
                <mat-checkbox (change)="changeRightPrivilege($event.checked, privilege)"
                              [checked]="(privilege?.right) ? true : false"></mat-checkbox>
              </td>
            </tr>
            </tbody>
          </table>

          <div class="col-md-12 save-history-btns">
            <button type="button" class="btn-default MR-10">Cancel</button>
            <button type="submit" class="btn-primary">Update</button>
          </div>
        </div>
      </div>
    </div><!-- End Table -->
  </form>
</div>
