<!--  Start Approve timesheet dialog  -->
<div class="befree-comment">
  <div class="modal__header" *ngIf="isReject === 0">
    <div class="modal__header__logo">AMENDMENT REQUEST</div>
  </div>

  <div class="modal__close">
    <a>
      <mat-icon class="material-icons" (click)="onClose()">close</mat-icon>
    </a>
  </div>
  <form [formGroup]="amedmentInOutForm" (submit)="onSubmit(amedmentInOutForm)">
    <div class="modal__body">
      <div class="row update-reason-details PLR-0" *ngIf="isReject === 0">
        <div class="col-md-4">
          <mat-label class="fw-500">Superior Staff</mat-label>
        </div>

        <div class="col-md-8">
          <p>{{amedmentDetail?.created_by.userfullname}}</p>
        </div>


        <div class="col-md-4 MT-20">
          <mat-label class="fw-500">Staff Name</mat-label>
        </div>

        <div class="col-md-8 MT-20">
          <p>{{amedmentDetail?.user_id.userfullname}}</p>
        </div>

        <div class="col-md-4 MT-20">
          <mat-label class="fw-500">Date</mat-label>
        </div>

        <div class="col-md-8 MT-20">
          <p>{{amedmentDetail?.date | date: "dd-MM-yyyy"}}</p>
        </div>

        <div class="col-md-4 MT-20">
          <mat-label class="fw-500">First In</mat-label>
        </div>

        <div class="col-md-8 MT-20">
          <p>{{(temp['punch_in'])?temp['punch_in']:'-'}}</p>
        </div>

        <div class="col-md-4 MT-20">
          <mat-label class="fw-500">Last Out</mat-label>
        </div>

        <div class="col-md-8 MT-20">
          <p>{{(temp['punch_out'])?temp['punch_out']:'-'}}</p>
        </div>

        <div class="col-md-4 MT-20">
          <mat-label class="fw-500">Working time</mat-label>
        </div>

        <div class="col-md-8 MT-20">
          <p>{{(temp['working_time'])?temp['working_time']:'-'}}</p>
        </div>

        <div class="col-md-4 MT-20">
          <mat-label class="fw-500">Status</mat-label>
        </div>

        <div class="col-md-8 MT-20" *ngIf="amedmentDetail?.status === 0">
          <p>Pending For Approval</p>
        </div>

        <div class="col-md-8 MT-20 green-color" *ngIf="amedmentDetail?.status === 1">
          <p>Approved</p>
        </div>

        <div class="col-md-8 MT-20 red-color" *ngIf="amedmentDetail?.status === 2">
          <p>Rejected</p>
        </div>

        <div class="col-md-4 MT-20" *ngIf="amedmentDetail?.status === 2">
          <mat-label class="fw-500">Reason For Rejection</mat-label>
        </div>

        <div class="col-md-8 MT-20" *ngIf="amedmentDetail?.status === 2">
          <p>{{amedmentDetail?.reason_for_rejection}}</p>
        </div>

        <div class="col-md-12 MT-20" *ngIf="temp['0']">
          <hr flex/>
          <div class="row">
            <div class="col-md-4 MT-20 PLR-0">
              <mat-label class="fw-500">Punch Type</mat-label>
            </div>

            <div class="col-md-8 MT-20">
              <p class="red-color">{{temp['0']?.punchtype}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 MT-20 PLR-0">
              <mat-label class="fw-500">Old Time</mat-label>
            </div>

            <div class="col-md-8 MT-20">
              <p>{{temp['0']?.old_value}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 MT-20 PLR-0">
              <mat-label class="fw-500">New Time</mat-label>
            </div>
            <div class="col-md-8 MT-20">
              <p>{{temp['0']?.new_value}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 MT-20 PLR-0">
              <mat-label class="fw-500">Reason</mat-label>
            </div>
            <div class="col-md-8 MT-20">
              <p>{{temp['0']?.reason}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-12 MT-20" *ngIf="temp['1']">
          <hr flex/>
          <div class="row">
            <div class="col-md-4 MT-20 PLR-0">
              <mat-label class="fw-500">Punch Type</mat-label>
            </div>

            <div class="col-md-8 MT-20">
              <p class="green-color">{{temp['1']?.punchtype}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 MT-20 PLR-0">
              <mat-label class="fw-500">Old Time</mat-label>
            </div>

            <div class="col-md-8 MT-20">
              <p>{{temp['1']?.old_value}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 MT-20 PLR-0">
              <mat-label class="fw-500">New Time</mat-label>
            </div>
            <div class="col-md-8 MT-20">
              <p>{{temp['1']?.new_value}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 MT-20 PLR-0">
              <mat-label class="fw-500">Reason</mat-label>
            </div>
            <div class="col-md-8 MT-20">
              <p>{{temp['1']?.reason}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row update-reason-details PLR-0" *ngIf="isReject === 1">
        <div class="col-md-12">
          <p class="fw-500">Are you sure, You want to reject amendment request?</p>
          <div class="MT-10">
            <mat-form-field>
              <textarea matInput placeholder="Reason For Rejection" formControlName="reason_for_rejection"
                        required></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>

    <div class="modal__footer">
      <div class="col-md-12 text-right" *ngIf="amedmentDetail?.status === 0 && isReject === 0">
        <button type="submit" class="btn-primary MR-5" (click)="checkApprove(1)">Approve</button>
        <button type="submit" class="btn-default" (click)="checkApprove(2)">Reject</button>
      </div>
      <div class="col-md-12 text-right" *ngIf="amedmentDetail?.status === 0 && isReject === 1">
        <button type="button" class="btn-default MR-5" (click)="back(0)">Back</button>
        <button type="submit" class="btn-primary" (click)="checkApprove(2)" [disabled]="amedmentInOutForm.invalid">
          Confirm
        </button>
      </div>
    </div>
  </form>
</div>
