.discontinue-client-container {
  .status-type-list {
    mat-icon, i {
      vertical-align: bottom;
      font-size: 1.6rem;
    }
  }
  .expand-grid {
    .hover-icons__action {
      left: 5rem;
      right: auto;
    }
  }
}
