<!--  Start Sub Client List dialog  -->
<div class="modal large-modal">
  <div class="modal__header">
    <div class="modal__header__logo">Client Discontinue Comment</div>
  </div>

  <div class="modal__close">
    <a>
      <mat-icon class="material-icons" (click)="onClose()">close</mat-icon>
    </a>
  </div>

  <div class="modal__body">

    <div>
      <form [formGroup]="commentForm" #commentChildForm="ngForm" (submit)="addCommentForm(commentForm)">
        <div class="row">
          <div class="col-md-9">
            <mat-form-field>
              <textarea formControlName="comment" matInput placeholder="Enter Comments"></textarea>
            </mat-form-field>
            <div class="validation-msg">
              <app-validation *ngIf="isRequiredField(commentForm.get('comment'))"
                              [errMsg]="validationMsg.COMMENTS"></app-validation>
            </div>
          </div>
          <div class="col-md-3 MT-10 text-left">
            <mat-checkbox [checked]="isSendEmailNotification" (change)="onSelectItem($event.checked)"
                          formControlName="is_emailsent">Send Email Notification
            </mat-checkbox>
            <button type="submit" class="btn-primary on-right MT-5" [disabled]="commentForm.invalid">Submit</button>
          </div>
          <div class="col-md-4 MT-10" *ngIf="isSendEmailNotification">
            <ng-select class="custom" [items]="staffListData"
                       [closeOnSelect]="true"
                       bindLabel="userfullname"
                       placeholder="To"
                       bindValue="email"
                       [virtualScroll]="true"
                       [searchable]="true"
                       [hideSelected]="true"
                       [(ngModel)]="selectedToEmail"
                       formControlName="to">
            </ng-select>
            <div class="validation-msg">
              <app-validation *ngIf="isRequiredField(commentForm.get('to'))"
                              [errMsg]="validationMsg.TO_REQUIRED"></app-validation>
            </div>
          </div>
          <div class="col-md-8 MT-10" *ngIf="isSendEmailNotification">
            <ng-select class="custom" [items]="staffListData" [multiple]="true"
                       [closeOnSelect]="true"
                       bindLabel="userfullname"
                       placeholder="CC"
                       bindValue="email"
                       [virtualScroll]="true"
                       [searchable]="true"
                       [hideSelected]="true"
                       [(ngModel)]="selectedCCEmail"
                       formControlName="cc">
            </ng-select>
          </div>


        </div>
      </form>
    </div>
    <ul class="view-history-container">
      <div>
        <li *ngFor="let discontinueEntityComment of discontinueCommentList; let i = index;">
          <a>
            <div class="profile-icon">
              <img src="assets/images/profile_placeholder.png" width="28" height="28" alt=""/>
            </div>
            <div class="history-details">
              <div>
                <h3>Updated By <span>{{discontinueEntityComment?.created_by?.userfullname}}</span></h3>
                <div class="history-time">
                  <i class="material-icons">query_builder</i>
                  <span>{{discontinueEntityComment?.created_on | date:'dd-MM-yyyy HH:mm:ss'}}</span>
                </div>
              </div>
              <div class="clearfix"></div>
              <ul class="history-content">
                <li>
                  <div><i class="material-icons">done_all</i>
                    <span class="fw-500"> {{discontinueEntityComment?.comment}}</span>
                  </div>
                </li>
                <li>
                  <div *ngIf="discontinueEntityComment?.to !== '' && discontinueEntityComment?.to !== null"><i
                    class="material-icons">done_all</i>
                    <span><strong> TO: </strong>{{discontinueEntityComment?.to}}</span><span
                      *ngIf="discontinueEntityComment?.cc !== '' && discontinueEntityComment?.cc !== null"> | <strong>CC: </strong>{{discontinueEntityComment?.cc}}</span>
                  </div>
                </li>
              </ul>
            </div>
          </a>
        </li>
      </div>
    </ul>
  </div>
  <div class="modal__footer">
    <mat-paginator [length]="totalRecords"
                   [pageSize]="pageSize"
                   [pageIndex]="pageIndex"
                   [pageSizeOptions]="pageArray"
                   (page)="onPageChange($event)" *ngIf="discontinueCommentList.length">
    </mat-paginator>
  </div>
</div>
<!--  End Change Sub client list dialog  -->
