// -----------------------------------------------------------------------------------------------
// =================================== HRMS Apply Leave scss =====================================
// -----------------------------------------------------------------------------------------------
.admin-hrms-apply-leave-container {
  margin-bottom: 2rem;
  .badge {
    background-color: lighten($turquoise-color, 10%);
    color: $white-color;
    border-radius: 2rem;
    padding: 0.5rem 0.7rem 0.5rem 0.6rem;
    text-align: center;
  }
  .apply-leave-form {
    background-color: lighten($light-gray-color, 21%);
    width: 98%;
    margin: 0 auto;
    padding: 1rem 1rem 2rem 1rem;
  }
  h3 {
    font-weight: normal;
    padding-bottom: .5rem;
  }

  .user-approved-request-details {
    img {
      vertical-align: middle;
      margin: 0 1rem;
      border: 2px solid $dark-primary-color;
      border-radius: 10rem;
      cursor: pointer;
    }
    i {
      font-weight: 500;
      font-size: 2rem;
      position: relative;
      top: .5rem;
      color: $light-gray-color;
    }
  }
}
