// -----------------------------------------------------------------------------------------------
// ================================= HRMS Attendance Summary scss ================================
// -----------------------------------------------------------------------------------------------
.admin-hrms-attendance-summary-container {
  .leave-type-list {
    align-self: center;
    ul {
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        list-style-type: none;
        a {
          display: block;
          padding: .5rem .8rem .5rem 0;
          i {
            vertical-align: bottom;
            font-size: 1.6rem;
          }
        }

        // For loop for nth-child
        @include forLoopNthChild(1, 5, $colors);
      }
    }
  }

  .table-container {
    /*  width: 100%;
      overflow: auto;*/
    .table-block {
      /*      width: 150rem;
            table {
              tbody {
                td {
                  i {
                    vertical-align: middle;
                    font-size: 1.3rem;
                  }
                  .early-leaving-color {
                    color: nth($colors, 1);
                  }
                  .sunday-working-color {
                    color: nth($colors, 2);
                  }
                  .late-comming-color {
                    color: nth($colors, 3);
                  }
                  .holiday-working-color {
                    color: nth($colors, 4);
                  }
                  .absent-color {
                    color: nth($colors, 5);
                  }
                }
              }
            }*/
      .remarks {
        @include elipsis(10rem);
        span.leaving-type {
          background-color: $asbestos-color;
          color: $white-color;
          border-radius: .1rem;
          padding: .2rem .5rem;
          display: inline-block;
          font-weight: 500;
        }
      }
      .approval-name {
        img {
          border-radius: 10rem;
        }
        img + img {
          position: relative;
          right: 1rem;
        }
      }
    }
  }
}


