// -----------------------------------------------------------------------------------------------
// ================================= HRMS Leave on this month scss ===============================
// -----------------------------------------------------------------------------------------------
.admin-hrms-leave-on-this-month-container {
  .popover__wrapper {
    position: relative;
    display: inline-block;
    ul {
      li {
        margin-bottom: .5rem;
      }
    }
  }
}
